@import "../../../src/styles/utilities/variables.scss";

.artistPage {
  // главный контейнер
  margin: $responsiveTopPadding 0 0 0;
  display: flex;
  flex-direction: column;

  * {
    font-family: $default-font;
  }
}

.artistPageNavigation {
  // навигационный блок
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.artistPageNavigationList {
  // список навигации
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artistPageNavigationItem {
  // элемент списка навигации
  display: flex;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}

.artistPageNavigationItemSeparator {
  // разделитель между элементами списка навигации
  margin: 0 $responsiveMediumPadding;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: $red;
  user-select: none;
}

.artistPageAboutArtistContainer {
  // блок с описанием митця
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistPageArtisPhotoWhithDescriptionWrapper {
  // обертка для фото митця с описанием
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(828px - (478 * ((1440px - 100vw) / (1440 - 375))));
}

.artistPageArtistPhotoWrapper {
  // обертка для фото митця
  display: inline-block;
  width: fit-content;
  height: fit-content;
  max-width: max-content;
  max-height: max-content;
  border-radius: 3px;
}

.artistPageArtistPhoto {
  // фото митця
  // margin: 0 auto;
  display: block;
  object-fit: contain;
  object-position: center center;
  border-radius: 3px;
  max-height: calc(415px - (228 * ((1440px - 100vw) / (1440 - 375))));
}

.artistPageArtistNameWrapper {
  // обертка для названия митця
  margin: $responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistPageArtistName {
  // название митця
  // font-size: calc(30px - (12 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 600;
  text-transform: uppercase;
}

.artistPageArtisSeparatorWrapper {
  // обертка для разделителя митця
  margin: $responsiveMediumPadding 0 0 0;
}

.artistPageArtisSeparator {
  // разделитель митця
  width: calc(60px - (20 * ((1440px - 100vw) / (1440 - 375))));
  min-width: 40px;
  max-width: 60px;
  height: 1px;
  background: black;
}

.artistPageArtisDescriptionWrapper {
  // обертка для описания митця
  margin: $responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistPageArtisDescription {
  // описание митця
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
}

.artistPageArtisReadMoreButtonWrapper {
  // обертка для кнопки "читать больше"
  margin: $responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.artistPageArtisReadMoreButton {
  // кнопка "читать больше"
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}

.artistPageArtisReadMoreButtonText {
  // текст кнопки "читать больше"
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
}

.artistPageArtisReadMoreButtonArrow {
  // стрелка кнопки "читать больше"
  font-size: calc(25px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
}

.underDevelopmentContainer {
  // обертка для слайдера "арты митца"
  margin: calc(65px - (25 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(983px - (582 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 401px;
  max-height: 938px;
  background: black;
  color: white;
}

.underDevelopmentPreTitle {
  // подзаголовок слайдера "арты митца"
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
}

.underDevelopmentTitle {
  // заголовок слайдера "арты митца"
  font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 600;
  text-transform: uppercase;
}

.artistPageFollowContainer {
  // обертка для слайдера "арты митца"
  margin: calc(67px - (12 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0
    $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistPageFollowTitle {
  // заголовок слайдера "арты митца"
  font-size: calc(22px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}

.artistPageFollowEmailWrapper {
  // обертка для ввода почты
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistPageFollowEmail {
  // ввод почты
  display: flex;
  margin: $responsiveMediumPadding 0 0 0 !important;
  padding: $responsiveSmallPadding !important;
  border-radius: 34px !important;
  border: 1px solid #000 !important;
  text-align: center;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  max-width: 300px;
}

.artistPageFollowButton {
  // кнопка "подписаться"
  margin: 20px 0 0 0;
  padding: 0 20px;
  width: auto;
  height: calc(51px - (7 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 44px;
  max-height: 51px;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  border: none;
  border-radius: 34px;
  background: black;
  color: white;
  cursor: pointer;
}

@media (min-width: 1441px) {
  .artistPage {
    // главный контейнер
    margin: $staticPcTopPadding 0 0 0;
  }

  .artistPageNavigation {
    // навигационный блок
    margin: 51px 0 0 $responsiveLeftAndRightPadding;
  }

  .artistPageNavigationItem {
    // элемент списка навигации
    font-size: 18px;
  }

  .artistPageNavigationItemSeparator {
    // разделитель между элементами списка навигации
    font-size: 18px;
  }

  .artistPageArtistPhoto {
    // фото митця
    max-width: 828px;
    max-height: 415px;
  }

  .artistPageArtisNameWrapper {
    // обертка для названия митця
    margin: $staticPcMediumPadding 0 0 0;
  }

  .artistPageArtisName {
    // название митця
    font-size: 30px;
  }

  .artistPageArtisSeparatorWrapper {
    // обертка для разделителя митця
    margin: $staticPcMediumPadding 0 0 0;
  }

  .artistPageArtisDescriptionWrapper {
    // обертка для описания митця
    margin: $staticPcMediumPadding 0 0 0;
  }

  .artistPageArtisDescription {
    // описание митця
    font-size: 16px;
  }

  .artistPageArtisReadMoreButton {
    // кнопка "читать больше"
    font-size: 16px;
  }

  .artistPageArtisReadMoreButtonText {
    // текст кнопки "читать больше"
    font-size: 16px;
  }

  .artistPageArtisReadMoreButtonArrow {
    // стрелка кнопки "читать больше"
    font-size: 25px;
  }

  .underDevelopmentContainer {
    // обертка для слайдера "арты митца"
    margin: 65px 0 0 0;
  }

  .underDevelopmentPreTitle {
    // подзаголовок слайдера "арты митца"
    font-size: 16px;
  }

  .underDevelopmentTitle {
    // заголовок слайдера "арты митца"
    font-size: 28px;
  }

  .artistPageFollowContainer {
    // обертка для слайдера "арты митца"
    margin: 67px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .artistPageFollowTitle {
    // заголовок слайдера "арты митца"
    font-size: 22px;
  }

  .artistPageFollowEmail {
    // ввод почты
    font-size: 16px;
  }

  .artistPageFollowButton {
    // кнопка "подписаться"
    font-size: 16px;
  }
}

@media (max-width: 569px) {
  .artistPage {
    // главный контейнер
    margin: $staticMobileTopPadding 0 0 0;
  }
}

@media (max-width: 374px) {
  .artistPageArtistPhoto {
    // фото митця
    max-width: 100%;
  }
}
