@import '../../../src/styles/utilities/variables.scss';

.ArtistsPageContainer {
    // главный контейнер
    margin: $responsiveTopPadding 0 0 0;
    display: flex;
    flex-direction: column;

    * {
        font-family: $default-font;
    }
}

.ArtistsPageTitleWrapper {
    // Контейнер для названия страницы
    margin: calc(53px - (30 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtistsPageTitle {
    // Заголовок страницы
    font-size: calc(42px - (24 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}

.ArtistsPageSeparatorWrapper {
    // Контейнер для разделителя
    margin: calc(23px - (2 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtistsPageSeparator {
    // Разделитель
    width: calc(60px - (40 * ((1440px - 100vw) / (1440 - 375))));
    height: 1px;
    background-color: #000;
    user-select: none;
}

.ArtistsPageSubTitleWrapper {
    // Контейнер для подзаголовка
    margin: 38px $responsiveLeftAndRightPadding 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtistsPageSubTitle {
    // Подзаголовок
    font-size: 29px;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
}

.ArtistsPageArtistsDescriptionWrapper {
    // Контейнер для описания
    margin: 32px auto 0;
    width: calc(888px - (588 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ArtistsPageArtistsFirstDescription {
    // Первое описание
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    text-align: center;
}

.ArtistsPageArtistsSecondDescription {
    // Второе описание
    margin: 20px auto 0;
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    text-align: center;
}

.ArtistsPageArtistsSearchWrapper {
    // Контейнер для поиска
    margin: 0 $responsiveLeftAndRightPadding;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px 0 0 0;
}

.ArtistsPageArtistsSearchInput {
    // Поле поиска
    display: flex;
    width: calc(275px - (-13 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 275px;
    max-width: 288px;
    height: 51px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
    margin: 0 !important;
}

.ArtistsPageGalleryContainer {
    // Контейнер для галереи
    margin: 0 $responsiveLeftAndRightPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ArtistsPageGalleryTitleWrapper {
    // Контейнер для названия галереи
    margin: calc(87px - (43 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    width: 100%;
    display: flex;
    align-items: center;
}

.ArtistsPageGalleryTitle {
    // Название галереи 
    font-family: $default-font;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.ArtistsPageGalleryButtonsWrapper {
    // Контейнер для кнопок
    margin: calc(32px - (15 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtistsPageGalleryButton {
    // Кнопка
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    cursor: pointer;
    background: none;
}

.ArtistsPageGalleryButtonWhithClock {
    // Кнопка с часами
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    cursor: pointer;
    background: none;
}

.ArtistsPageGalleryButtonTitle {
    // Название кнопки
    margin: 0 0 0 calc(10px - (5 * ((1440px - 100vw) / (1440 - 375))));
    font-size: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.ArtistsPageGalleryButtonClock {
    // Часы
    margin: 0 0 0 calc(15px - (5 * ((1440px - 100vw) / (1440 - 375))));
    width: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
    height: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
}

.ArtistsPageGalleryButtonSeparator {
    // Разделитель
    margin: 0 0 0 calc(15px - (5 * ((1440px - 100vw) / (1440 - 375))));
    font-size: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.ArtistsPageGalleryCardsWrapper {
    // Контейнер для карточек
    margin: calc(36px - (25 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ArtistsPageGalleryInnerWrapper {
    // Контейнер для карточек
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 столбца при ширине 1440px и выше
    gap: calc(58px - (44 * ((1440px - 100vw) / (1440 - 375)))); // Расстояние между карточками
}

.ArtistsPageGalleryCardWrapper {
    // Контейнер для карточек
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ArtistsPageGalleryCardPictureWrapper {
    // Контейнер для картинки
    display: flex;
    justify-content: center;
    align-items: center;    
}

.ArtistsPageGalleryCardPicture {
    // Картинка
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ArtistsPageGalleryCardDescriptionWrapper {
    // Контейнер для описания
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArtistsPageGalleryCardDescription {
    // Описание
    font-size: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
    text-align: center;
    user-select: none;
}

.ArtistsPageGalleryAllArtistsButtonWrapper {
    // Контейнер для кнопки "Все артисты"
    width: 100%;
    margin: calc(36px - (25 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ArtistsPageGalleryAllArtistsButton {
    // Кнопка "Все артисты"
    display: flex;
    align-items: center;
    font-size: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
    margin: 0 !important;
    cursor: pointer;
    background: none;
}

.ArtistsPageGalleryAllArtistsButtonText {
    // Текст кнопки "Все артисты"
    margin: 0 0 0 calc(10px - (5 * ((1440px - 100vw) / (1440 - 375))));
    font-size: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
    font-weight: 400;
}

.ArtistsPageGalleryAllArtistsButtonArrow {
    // Стрелка кнопки "Все артисты"
    margin: 0 0 0 calc(10px - (5 * ((1440px - 100vw) / (1440 - 375))));
    text-align: center;
}



@media (min-width: 1441px) {
    .ArtistsPageContainer {
        // главный контейнер
        margin: $staticPcTopPadding 0 0 0;
    }
}

@media (max-width: 569px) {
    .ArtistsPageContainer {
        // главный контейнер
        margin: $staticMobileTopPadding 0 0 0;
    }

    .ArtistsPageSubTitleWrapper {
        // Контейнер для подзаголовка
        display: none;
    }

    .ArtistsPageArtistsDescriptionWrapper {
        // Контейнер для описания
        display: none;
    }

    .ArtistsPageGalleryInnerWrapper {
        // Контейнер для карточек
        grid-template-columns: repeat(2, 1fr);
    }
}