@use '../../../src/styles/utilities/variables.scss';

.card {
    margin: variables.$responsiveMediumPadding 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.cardMedia {
    // width: 40%;
    // float: left;
    // background: grey;
    // a {
    //     height: 100%;
    // }

    // figure {
    //     background: white;
    // }

    // figure:hover {
    //     background: gainsboro;
    // }

    picture {
        display: block;
        height: fit-content;
        width: calc(400px - (80 * ((1440px - 100vw) / (1440 - 375))));
        min-width: 300px;
        max-width: 400px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.cardContent {
    margin: 0 0 0 variables.$responsiveMediumPadding;
}

.cardDescription {
    margin-bottom: 2rem;
}

.cardCommands {
    display: inline-flex;
}

.cardTitle {
    padding-bottom: variables.$responsiveSmallPadding;
    
    a:first-child {
        font-size: 1.5rem;
        padding-right: 0.5rem;
    }

    a {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 569px) {
    .cardMedia {
        width: 100%;
    }
}