@import "/src/styles/utilities/variables.scss";
@import "/src/styles/base/headerHover.scss";

body {
	font-family: $CenturyGothic, $CormorantSCRegular, $chiller-font;
}
.mainHeader {
	position: fixed;
	top: 0;
	width: 100vw;
	height: calc(0px + 177 * (100vw / 1440));
	min-height: 70px;
	max-height: 177px;
	background-color: #000000;
	z-index: 999;
}
.mainHeaderWrapper {
	margin: calc(0 / 1440 * 100vw) calc(70 / 1440 * 100vw);
	padding: calc(39 / 1440 * 100vw) calc(0 / 1440 * 100vw) calc(29 / 1440 * 100vw) calc(0 / 1440 * 100vw);
	height: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	transition: transform 0.3s ease;
	z-index: 1000;
}
.mainHeaderLogo {
	margin: 0 calc(22.5 / 1440 * 100vw) 0 0;
	display: flex;
	width: auto;
}
.logo {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: end;

	&__img {
		width: calc(122.47 / 1440 * 100vw);
		height: calc(68.43 / 1440 * 100vw);
		min-width: 48.39px;
		min-height: 27.03px;
		max-width: 122.47px;
		max-height: 68.43px;
	}

	&__titleWrapper {
		position: relative;
		margin: 0 0 calc(-3 / 1440 * 100vw) 0;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		width: auto;
	}

	&__firstWord {
		margin: 0 0 0 calc(-12 / 1440 * 100vw);
		font-family: $chiller-font;
		font-size: calc(0px + 156 * (100vw / 1440));
		line-height: 0.53; //Важная строка!!!
		display: inline-block; /* Необходимо для применения transform */
		transform: scaleX(1.1); /* Масштабирование по горизонтали */
		user-select: none;
	}

	&__firstWord::before {
		content: "";
		position: absolute;
		top: calc(38 / 1440 * 100vw);
		left: calc(123 / 1440 * 100vw);
		width: calc(9 / 1440 * 100vw);
		height: calc(7 / 1440 * 100vw);
		min-width: 3.9px;
		min-height: 2.77px;
		max-width: 9px;
		max-height: 7px;
		background: url(/public/logoHeader/logoPoint.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 100%;
	}

	&__secondWord {
		margin: 0 0 calc(-1 / 1440 * 100vw) calc(-13 / 1440 * 100vw);
		display: flex;
		font-family: $CormorantSCRegular;
		font-size: calc(0px + 15.25 * (100vw / 1440));
		text-transform: uppercase;
		letter-spacing: calc(0px + 3.3 * (100vw / 1440));
		user-select: none;
	}

	&__thirdWord {
		margin: 0 0 0 calc(-13 / 1440 * 100vw);
		font-family: $CormorantSCRegular;
		font-size: calc(0px + 22 * (100vw / 1440));
		text-transform: uppercase;
		letter-spacing: calc(0px + 4 * (100vw / 1440));
		user-select: none;
	}
}
.white {
	color: #ffffff;
}
.titleContainer {
	margin: calc(17 / 1440 * 100vw) 22.5px 0 22.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.titleWrapper {
	display: flex;
	justify-content: space-between;
}

.headerLanguageSwitchButton {
	margin: 0 10px 10px 0;
	border: none;
	cursor: pointer;
	background: #000000;

	&__title {
		font-size: calc(0px + 18 * (100vw / 1440));
		color: #fff;
		white-space: nowrap;
	}
}
.circleButton {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background: #000000;
}
h1 {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-size: calc(10px + 14 * (100vw / 1440));
	text-transform: uppercase;
	text-align: center;
	user-select: none;
}
.mainMenu {
	display: flex;

	&__ul {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1072px;
	}

	&__li {
		font-size: calc(0px + 18 * (100vw / 1440));
	}

	&__link {
		position: relative;
		display: inline-block;
		transition: box-shadow 0.3s ease;
	}

	&__link::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -5px;
		width: 0;
		height: 1px;
		background: linear-gradient(to right, rgba(216, 57, 52, 0), rgb(255, 255, 255), rgba(216, 57, 52, 0));
		transition:
			width 0.4s ease,
			left 0.4s ease;
	}

	&__link:hover::after {
		width: 100%;
		left: 0;
	}

	&__link:hover {
		color: #ffffff;
		transition: 0.4s;
		cursor: pointer;
	}

	&__link:not(:hover) {
		color: #fff;
		transition: 1s;
	}
}
.socialContainer {
	margin: 0 0 -7px 22.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.socialUpperWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.socialLikeAndShareInner {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__likeButton {
		position: relative;
		display: flex;
	}

	&__likeButton::after {
		content: "Like";
		position: absolute;
		top: 6px;
		left: 38px;
		font-size: 18px;
		user-select: none;
		color: #fff;
	}

	&__shareButton {
		position: relative;
		display: flex;
	}

	&__shareButton::before {
		content: "Share";
		position: absolute;
		top: 6px;
		right: 38px;
		font-size: 18px;
		user-select: none;
		color: #fff;
	}
}
.burgerButtonWrapper {
	margin: 0 0 0 28px;
}
.burgerButton {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: calc(151 / 1440 * 100vw);
	height: calc(51 / 1440 * 100vw);
	min-width: 94.75px;
	min-height: 40px;
	max-width: 151px;
	max-height: 51px;
	border-radius: 51px;
	color: #fff;
	border: none;
	background-color: #3a8374;
	cursor: pointer;

	&__img {
		margin: 0 calc(6 / 1440 * 100vw) 0 0;
		width: calc(32 / 1440 * 100vw);
		height: calc(32 / 1440 * 100vw);
		min-width: 20px;
		min-height: 20px;
		max-width: 32px;
		max-height: 32px;
	}

	&__title {
		margin: 0 0 0 calc(6 / 1440 * 100vw);
		font-size: calc(12px + 6 * (100vw / 1440));
	}
}
.socialDownWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -5px 0 0; //Важный параметр! Меняется вместе с параметром свойства .socialDownWrapperButton{margin:0:5px;}

	&__followUsTitle {
		margin: 0 20px -1px 0;
		width: auto;
		font-size: 16px;
		text-transform: uppercase;
		user-select: none;
		white-space: nowrap;
	}
	&__separator {
		margin: 0 25px 0 24px;
	}
	&__separatorImg {
		display: flex;
		width: 1px;
		height: 32px;
	}
}
.socialDownWrapperButton {
	margin: 0 5px;
}
.staticHeader {
	position: fixed;
	top: 0;
	width: 100vw;
	height: calc(100 / 1440 * 100vw);
	min-height: 50px;
	max-height: 100px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	z-index: 998;
}
.staticHeader.visible {
	transform: translateY(0);
}
.staticHeaderWrapper {
	margin: calc(0 / 1440 * 100vw) calc(70 / 1440 * 100vw);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.staticHeaderLogo {
	margin: 0 calc(22.5 / 1440 * 100vw) 0 0;
}
.staticHeaderLogoTitle {
	font-family: $chiller-font;
	font-size: calc(0px + 135 * (100vw / 1440));
	line-height: 0.53; //Важная строка!!!
	display: inline-block; /* Необходимо для применения transform */
	transform: scaleX(1.1); /* Масштабирование по горизонтали */
	user-select: none;
}
.staticHeaderTitleContainer {
	margin: 0 calc(22.5 / 1440 * 100vw);
	display: flex;
	align-items: center;

	&__likeButton {
		margin: 0 31px 0 0;
		display: flex;
	}

	&__shareButton {
		margin: 0 0 0 31px;
		display: flex;
	}
}
.staticHeaderTitle {
	display: flex;
	justify-content: center;
	font-size: calc(12px + 12 * (100vw / 1440));
	text-transform: uppercase;
	text-align: center;
	user-select: none;
}
.staticHeaderLoginContainer {
	display: flex;
	align-items: center;
	margin: 0 0 0 calc(22.5 / 1440 * 100vw);

	&__separator {
		margin: 0 19px 0 17px;
	}
}
.black {
	color: #000000;
}

@media (min-width: 1921px) {
	.titleWrapper {
		padding: 0 112.8px 0 0;
	}
}

@media (min-width: 1441px) {
	.mainHeaderWrapper {
		padding: 39px 0 29px 0;
	}
	.mainHeaderLogo {
		margin: 0 22.5px 0 0;
	}
	.logo {
		&__titleWrapper {
			margin: 0 0 -3px 0;
		}

		&__firstWord {
			margin: 0 0 0 -12px;
			font-size: 156px;
		}

		&__firstWord::before {
			content: "";
			top: 38px;
			left: 123px;
		}

		&__secondWord {
			margin: 0 0 -1px -13px;
			font-size: 15.25px;
			letter-spacing: 3.3px;
		}

		&__thirdWord {
			margin: 0 0 0 -13px;
			font-size: 22px;
			letter-spacing: 4px;
		}
	}
	.titleContainer {
		margin: 17px calc(22.5 / 1440 * 100vw) 0 calc(22.5 / 1440 * 100vw);
	}

	.headerLanguageSwitchButton {
		&__title {
			font-size: 18px;
		}
	}
	.mainMenu__li {
		font-size: 18px;
	}
	.burgerButton {
		&__img {
			margin: 0 6px 0 0;
		}

		&__title {
			margin: 0 0 0 6px;
		}
	}
	.staticHeaderLogoTitle {
		font-size: 135px;
	}
}

@media (max-width: 1279px) {
	.socialLikeAndShareInner {
		&__likeButton::after {
			display: none;
		}

		&__shareButton::before {
			display: none;
		}
	}
	.socialDownWrapper {
		&__followUsTitle {
			display: none;
		}
	}
	.socialDownWrapper__facebookButton {
		margin: 0 5px 0 0;
	}
}

@media (max-width: 1023px) {
	.mainHeaderWrapper {
		padding: 0;
	}
	.mainHeaderLogo {
		margin: auto calc(22.5 / 1440 * 100vw) auto 0;
		display: flex;
		width: auto;
	}
	.headerLanguageSwitchContainer {
		display: none;
	}
	.titleContainer {
		margin: 0 calc(22.5 / 1440 * 100vw);
		justify-content: center;
	}
	.mainMenuContainer {
		display: none;
	}
	.socialContainer {
		margin: 0 0 0 calc(22.5 / 1440 * 100vw);
		justify-content: center;
	}
	.socialLikeAndShareInner {
		&__likeButton {
			margin: 0 10px 0 0;
		}
	}
	.socialDownWrapper {
		display: none;
	}
}

@media (max-width: 720px) {
	.staticHeaderLogoTitle {
		font-size: 67.5px;
	}
}

@media (max-width: 759px) {
	.titleWrapper {
		margin: 0 auto;
		width: 70%;
	}
	.staticHeaderTitleContainer {
		width: 40%;
		&__likeButton {
			margin: 0;
			display: flex;
		}

		&__shareButton {
			margin: 0;
			display: flex;
		}
	}
}

@media (max-width: 579px) {
	.titleContainer {
		display: none;
	}
	.socialContainer {
		width: 100%;
	}
	.socialLikeAndShareInner {
		justify-content: space-around;

		&__likeButton {
			margin: 0;
		}
	}
	.burgerButtonWrapper {
		margin: 0 0 0 calc(22.5 / 1440 * 100vw);
	}
	.staticHeaderTitleContainer {
		justify-content: space-around;
		width: 100%;
	}
	.staticHeaderTitle {
		display: none;
	}
	.staticHeaderLoginContainer {
		display: flex;

		&__separator {
			display: none;
		}
		&__loginButton {
			display: none;
		}
	}
}

@media (max-width: 569px) {
	.logo {
		&__titleWrapper {
			margin: 0 0 -1.185px 0;
		}

		&__firstWord {
			margin: 0 0 0 -4.742px;
			font-size: 61.641px;
		}

		&__firstWord::before {
			content: "";
			top: 15px;
			left: 48px;
		}

		&__secondWord {
			margin: 0 0 -0.069px -5.137px;
			font-size: 6.026px;
			letter-spacing: 1.304px;
		}

		&__thirdWord {
			margin: 0 0 0 -5.137px;
			font-size: 8.693px;
			letter-spacing: 1.581px;
		}
	}
}
