@import '/src/styles/utilities/variables.scss';

.mainPage {
	display: flex;
	flex-direction: column;
	background: rgb(255, 255, 255);
	padding: $responsiveTopPadding 0 0 0;
	width: 100%;
}

.mainPageWelcomeTitleWrapper {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	margin: $responsiveBigPadding 0 0 0;
	padding: 0 $responsiveLeftAndRightPadding;
	font-family: $default-font;
}

.welcomeTitle {
	margin: 0;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 600;
}

.welcomeParagraph {
	padding: 0 15px 0 0;
	overflow: hidden;
	max-height: calc(calc(18px - (4 * ((1440px - 100vw) / (1440 - 375)))) * 6);
	position: relative;
	margin: $responsiveMediumPadding 0 0 0;
	color: #5a5a5a;
	font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
	text-overflow: ellipsis;
}

.mainPageWelcomeTitleParagraphLink {
	color: #d83934;
	text-decoration: underline;
	cursor: pointer;
}

.mainPageWelcomeTitleParagraphReadMoreLink {
	position: absolute;
	bottom: -3px;
	right: 0;
	color: #d83934;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	cursor: pointer;
}

@media (min-width: 1441px) {

	.mainPageWelcomeTitleWrapper {
		margin: $staticPcBigPadding 0 0 0;
	}

	.welcomeParagraph {
		margin: $staticPcMediumPadding 0 0 0;
		font-size: 18px;
	}

	.mainPage {
		padding: $staticPcTopPadding 0 0 0;
		width: 100vw;
	}

	.welcomeTitle {
		font-size: 28px;
	}

	.welcomeParagraph {
		max-height: calc(18px * 6);
		margin: 20px 0 0 0;
		font-size: 18px;
	}

	.mainPageWelcomeTitleParagraphReadMoreLink {
		font-size: 28px;
	}
}

@media (max-width: 569px) {

	.mainPageWelcomeTitleWrapper {
		margin: $staticMobileBigPadding 0 0 0;
	}

	.welcomeParagraph {
		margin: $staticMobileMediumPadding 0 0 0;
	}

	.mainPage {
		padding: $staticMobileTopPadding 0 0 0;
		width: 100vw;
	}
}
