@import '../../../src/styles/utilities/variables.scss';

.museumPage {
    // главный контейнер
    margin: $responsiveTopPadding 0 0 0;
    display: flex;
    flex-direction: column;

    * {
        font-family: $default-font;
    }
}

.museumPageNavigation {
    // навигационный блок
    margin: calc(51px - (15 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.museumPageNavigationList {
    // список навигации
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.museumPageNavigationItem {
    // элемент списка навигации
    display: flex;
    font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    text-transform: uppercase;
}

.museumPageNavigationItemSeparator {
    // разделитель между элементами списка навигации
    margin: 0 18px;
    font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    color: $red;
    user-select: none;
}

.museumPageAboutMuseumContainer {
    // блок с описанием музея
    margin: calc(69px - (41 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.museumPageMuseumPhotoWrapper {
    // обертка для фото музея
    display: inline-block;
    width: fit-content;
    height: fit-content;
    max-width: max-content;
    max-height: max-content;
    border-radius: 3px;
}

.museumPageMuseumPhoto {
    // фото музея
    // margin: 0 auto;
    display: block;
    object-fit: contain;
    object-position: center center;
    border-radius: 3px;
    max-height: calc(415px - (228 * ((1440px - 100vw) / (1440 - 375))));
}

.museumPageMuseumTopLogoWhithAdressWrapper {
    // верхняя обёртка логотипа и адреса музея 
}

.museumPageMuseumLogoWrapper {
    // обертка для логотипа музея
    margin: calc(24px - (8 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.museumPageMuseumLogo {
    // логотип музея
    display: block;
    object-fit: contain;
    object-position: center center;
    max-height: calc(100px - (40 * ((1440px - 100vw) / (1440 - 375))));
}

.museumPageMuseumTitleWrapper {
    // обертка для названия музея
    margin: 0;
}

.museumPageTopAdressWrapper {
    // верхняя оболочка не полного адреса музея
}

.museumPageMuseumTitle {
    // название музея
    margin: 10px 0 0 0;
    font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    text-align: center;
    // text-transform: uppercase;
}

.museumPageMuseumTopLocationWrapper {
    // обертка для местоположения музея
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.museumPageMuseumLocationStreet, .museumPageMuseumLocationCity, .museumPageMuseumLocationCountry, .museumPageMuseumLocationIndex {
    // местоположение музея
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
    text-align: center;
}

.museumPageMuseumDescriptionWrapper {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    max-height: calc(calc(18px - (4 * ((1440px - 100vw) / (1440 - 375)))) * 6);
    transition: max-height 0.3s ease-in-out;

    &.expanded {
        max-height: none; // Убираем ограничение по высоте при раскрытии
    }
}

.museumPageMuseumDescriptionButton {
    margin-top: 10px;
    cursor: pointer;
}

.museumPageMuseumDescription {
    // описание музея
    font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
    text-align: center;
}

.museumPageMuseumDescriptionButton {
    // кнопка "читать больше"
    margin: 10px 0 0 auto;
    font-size: calc(14px - (2 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    color: #d83934;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background: none;
}

.museumPageMuseumBottomLogoWhithAdressWrapper {
    // нижняя оболочка логотипа и адреса музея
}

.museumPageMuseumBottomLocationWrapper {
    // обертка для местоположения музея
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.museumPageMuseumToTheSiteButtonWrapper {
    // обёртка кнопки ведущей на сайт музея
    margin: 0 0 30px 0;
}

.museumPageMuseumToTheSiteButton {
    // кнопка ведущая на сайт музея
    margin: 20px auto 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    color: #d83934;
    background: none;
    cursor: pointer;
}

.underDevelopmentContainer {
    // обертка для слайдера "арты митца"
    margin: calc(65px - (25 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(983px - (582 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 401px;
    max-height: 938px;
    background: black;
    color: white;
}

.underDevelopmentPreTitle {
    // подзаголовок слайдера "арты митца"
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
}

.underDevelopmentTitle {
    // заголовок слайдера "арты митца"
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 1441px) {
    .museumPage {
        // главный контейнер
        margin: $staticPcTopPadding 0 0 0;
    }

    .museumPageNavigation {
        // навигационный блок
        margin: 51px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    }

    .museumPageNavigationItem {
        // элемент списка навигации
        font-size: 18px;
    }

    .museumPageNavigationItemSeparator {
        // разделитель между элементами списка навигации
        font-size: 18px;
    }

    .museumPageAboutMuseumContainer {
        // блок с описанием музея
        margin: 69px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    }

    .museumPageMuseumPhoto {
        // фото музея
        max-height: 415px;
    }

    .museumPageMuseumLogoWrapper {
        // обертка для логотипа музея
        margin: 24px 0 0 0;
    }

    .museumPageMuseumLogo {
        // логотип музея
        max-height: 100px;
    }

    .museumPageMuseumTitle {
        // название музея
        font-size: 18px;
    }

    .museumPageMuseumLocation {
        // местоположение музея
        font-size: 16px;
    }

    .underDevelopmentContainer {
        // обертка для слайдера "арты митца"
        margin: 65px 0 0 0;
    }
    
    .underDevelopmentPreTitle {
        // подзаголовок слайдера "арты митца"
        font-size: 16px;
    }
    
    .underDevelopmentTitle {
        // заголовок слайдера "арты митца"
        font-size: 28px;
    }
}

@media (max-width: 569px) {
    .museumPage {
        // главный контейнер
        margin: $staticMobileTopPadding 0 0 0;
    }
}