@import '../../../src/styles/utilities/variables.scss';

.MuseumsPageContainer {
    /* Основной контейнер страницы */
    display: flex;
    flex-direction: column;
    margin: $responsiveTopPadding 0 0 0;

    * {
        font-family: $default-font;
    }
}

.MuseumsPageTitleContainer {
    /* Контейнер для названия страницы */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(51px - (28 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
}

.MuseumsPageTitle {
    /* Заголовок страницы */
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 1441px) {
    .MuseumsPageContainer {
        margin: $staticPcTopPadding 0 0 0;
    }

    .MuseumsPageTitleContainer {
        /* Контейнер для заголовка страницы новостей */
        margin: 51px 0 0 0;
    }

    .MuseumsPageTitle {
        /* Заголовок страницы новостей */
        font-size: 28px;
    }
}

@media (max-width: 569px) {
    .MuseumsPageContainer {
        margin: $staticMobileTopPadding 0 0 0;
    }
}