@import "../../../src/styles/utilities/variables.scss";

.museumPage {
  // главный контейнер
  margin: $responsiveTopPadding 0 0 0;
  display: flex;
  flex-direction: column;

  * {
    font-family: $default-font;
  }
}

.museumPageNavigation {
  // навигационный блок
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  align-items: center;
  justify-content: start;
}

.museumPageNavigationList {
  // список навигации
  display: flex;
  align-items: center;
  justify-content: center;
}

.museumPageNavigationItem {
  // элемент списка навигации
  display: flex;
  font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}

.museumPageNavigationItemSeparator {
  // разделитель между элементами списка навигации
  margin: 0 $responsiveMediumPadding;
  font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: $red;
  user-select: none;
}

.museumPageAboutMuseumContainer {
  // блок с описанием музея
  margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.museumPageMuseumPhotoWrapper {
  // обертка для фото музея
  display: inline-block;
  width: fit-content;
  height: fit-content;
  max-width: max-content;
  max-height: max-content;
  border-radius: 3px;
}

.museumPageMuseumPhoto {
  // фото музея
  display: block;
  object-fit: contain;
  object-position: center center;
  border-radius: 3px;
  max-height: calc(415px - (228 * ((1440px - 100vw) / (1440 - 375))));
}

.museumPageMuseumLogoWrapper {
  // обертка для логотипа музея
  margin: $responsiveBigPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.museumPageMuseumLogo {
  // логотип музея
  display: block;
  object-fit: contain;
  object-position: center center;
  max-height: calc(100px - (40 * ((1440px - 100vw) / (1440 - 375))));
}

.museumPageMuseumTitleWrapper {
  // обертка для названия музея
  margin: $responsiveSmallPadding 0 0 0;
}

.museumPageMuseumTitle {
  // название музея
  font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.museumPageMuseumTopLocationWrapper {
  // обертка для местоположения музея
  margin: $responsiveSmallPadding 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.museumPageMuseumLocationStreet,
.museumPageMuseumLocationCity,
.museumPageMuseumLocationCountry,
.museumPageMuseumLocationIndex {
  // местоположение музея
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  text-align: center;
}

.museumPageMuseumDescriptionWrapper {
  margin: $responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-height: calc(calc(18px - (4 * ((1440px - 100vw) / (1440 - 375)))) * 6);
  transition: max-height 0.3s ease-in-out;

  &.expanded {
    max-height: none; // Убираем ограничение по высоте при раскрытии
  }
}

.museumPageMuseumDescriptionButton {
  margin: $responsiveSmallPadding 0 0 0;
  cursor: pointer;
}

.museumPageMuseumDescription {
  // описание музея
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  text-align: center;
}

.museumPageMuseumDescriptionButton {
  // кнопка "читать больше"
  margin: $responsiveSmallPadding 0 0 auto;
  font-size: calc(14px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: #d83934;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background: none;
}

.museumPageMuseumBottomLogoWhithAdressWrapper {
  // нижняя оболочка логотипа и адреса музея
}

.museumPageMuseumBottomLocationWrapper {
  // обертка для местоположения музея
  margin: $responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.museumPageMuseumToTheSiteButtonWrapper {
  // обёртка кнопки ведущей на сайт музея
  margin: 0 0 $responsiveMediumPadding 0;
}

.museumPageMuseumToTheSiteButton {
  // кнопка ведущая на сайт музея
  margin: $responsiveSmallPadding auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d83934;
  background: none;
  cursor: pointer;
}

.textWrapper {
  margin: $responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoTextDescription {
  font-size: calc(14px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 300;
  text-align: center;
  color: $secondary-color;
}

.infoText {
  // margin: $responsiveSmallPadding 0 0 0;
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  text-align: center;
}

.mapContainer {
  margin: $responsiveBigPadding 0 0 0;
}

@media (min-width: 1441px) {
  .museumPage {
    // главный контейнер
    margin: $staticPcTopPadding 0 0 0;
  }

  .museumPageNavigation {
    // навигационный блок
    margin: $staticPcBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .museumPageNavigationItem {
    // элемент списка навигации
    font-size: 18px;
  }

  .museumPageNavigationItemSeparator {
    // разделитель между элементами списка навигации
    margin: 0 $staticPcMediumPadding;
    font-size: 18px;
  }

  .museumPageAboutMuseumContainer {
    // блок с описанием музея
    margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .museumPageMuseumPhoto {
    // фото музея
    max-height: 415px;
  }

  .museumPageMuseumLogoWrapper {
    // обертка для логотипа музея
    margin: $staticPcBigPadding 0 0 0;
  }

  .museumPageMuseumLogo {
    // логотип музея
    max-height: 100px;
  }

  .museumPageMuseumTitleWrapper {
    // обертка для названия музея
    margin: $staticPcSmallPadding 0 0 0;
  }

  .museumPageMuseumTitle {
    // название музея
    font-size: 18px;
  }

  .museumPageMuseumTopLocationWrapper {
    // обертка для местоположения музея
    margin: $staticPcSmallPadding 0 0 0;
  }

  .museumPageMuseumLocationStreet,
  .museumPageMuseumLocationCity,
  .museumPageMuseumLocationCountry,
  .museumPageMuseumLocationIndex {
    // местоположение музея
    font-size: 16px;
  }

  .museumPageMuseumDescriptionWrapper {
    margin: $staticPcSmallPadding 0 0 0;
    max-height: calc(18px * 6);

  }

  .museumPageMuseumDescriptionButton {
    margin: $staticPcSmallPadding 0 0 0;
  }

  .museumPageMuseumDescription {
    // описание музея
    font-size: 18px;
  }

  .museumPageMuseumDescriptionButton {
    // кнопка "читать больше"
    margin: $staticPcSmallPadding 0 0 auto;
    font-size: 14px;
  }

  .museumPageMuseumBottomLocationWrapper {
    // обертка для местоположения музея
    margin: $staticPcSmallPadding 0 0 0;
  }

  .museumPageMuseumToTheSiteButtonWrapper {
    // обёртка кнопки ведущей на сайт музея
    margin: 0 0 $staticPcMediumPadding 0;
  }

  .museumPageMuseumToTheSiteButton {
    // кнопка ведущая на сайт музея
    margin: $staticPcSmallPadding auto 0;
  }

  .textWrapper {
    margin: $staticPcMediumPadding 0 0 0;
  }

  .infoTextDescription {
    font-size: 14px;
  }  

  .infoText {
    // margin: $staticPcSmallPadding 0 0 0;
    font-size: 16px;
  }

  .mapContainer {
    margin: $staticPcBigPadding 0 0 0;
  }
}

@media (max-width: 569px) {
  .museumPage {
    // главный контейнер
    margin: $staticMobileTopPadding 0 0 0;
  }

  .museumPageNavigation {
    // навигационный блок
    margin: $staticMobileBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .museumPageNavigationItem {
    // элемент списка навигации
    font-size: 12px;
  }

  .museumPageNavigationItemSeparator {
    // разделитель между элементами списка навигации
    margin: 0 $staticMobileMediumPadding;
    font-size: 12px;
  }

  .museumPageAboutMuseumContainer {
    // блок с описанием музея
    margin: $staticMobileMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .museumPageMuseumPhoto {
    // фото музея
    max-height: 187px;
  }

  .museumPageMuseumLogoWrapper {
    // обертка для логотипа музея
    margin: $staticMobileBigPadding 0 0 0;
  }

  .museumPageMuseumLogo {
    // логотип музея
    max-height: 60px;
  }

  .museumPageMuseumTitleWrapper {
    // обертка для названия музея
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .museumPageMuseumTitle {
    // название музея
    font-size: 12px;
  }

  .museumPageMuseumTopLocationWrapper {
    // обертка для местоположения музея
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .museumPageMuseumLocationStreet,
  .museumPageMuseumLocationCity,
  .museumPageMuseumLocationCountry,
  .museumPageMuseumLocationIndex {
    // местоположение музея
    font-size: 12px;
  }

  .museumPageMuseumDescriptionWrapper {
    margin: $staticMobileSmallPadding 0 0 0;
    max-height: calc(14px * 6);

  }

  .museumPageMuseumDescriptionButton {
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .museumPageMuseumDescription {
    // описание музея
    font-size: 14px;
  }

  .museumPageMuseumDescriptionButton {
    // кнопка "читать больше"
    margin: $staticMobileSmallPadding 0 0 auto;
    font-size: 12px;
  }

  .museumPageMuseumBottomLocationWrapper {
    // обертка для местоположения музея
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .museumPageMuseumToTheSiteButtonWrapper {
    // обёртка кнопки ведущей на сайт музея
    margin: 0 0 $staticMobileMediumPadding 0;
  }

  .museumPageMuseumToTheSiteButton {
    // кнопка ведущая на сайт музея
    margin: $staticMobileSmallPadding auto 0;
  }

  .textWrapper {
    margin: $staticMobileMediumPadding 0 0 0;
  }

  .infoTextDescription {
    font-size: 12px;
  }

  .infoText {
    // margin: $staticMobileSmallPadding 0 0 0;
    font-size: 12px;
  }

  .mapContainer {
    margin: $staticMobileBigPadding 0 0 0;
  }}