@import "../utilities/variables.scss";

.newsPageContainer {
  /* Основной контейнер страницы новостей */
  display: flex;
  flex-direction: column;
  margin: $responsiveTopPadding 0 0 0;

  * {
    font-family: $default-font;
  }

  button {
    background: white;
  }
}

.newsPageTitleContainer {
  /* Контейнер для заголовка страницы новостей */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding $responsiveMediumPadding $responsiveLeftAndRightPadding;
}

.newsPageHorizontalSeparatorContainer {
  /* Контейнер для горизонтального разделителя */
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsPageHorizontalSeparator {
  /* Горизонтальный разделитель */
  display: flex;
  width: calc(60px - (20 * ((1440px - 100vw) / (1440 - 375))));
  min-width: 40px;
  max-width: 60px;
  height: 1px;
  background: #000;
}

.newsPageSearchContainer {
  /* Контейнер для поиска авторов */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $responsiveMediumPadding 0 0 0;
  margin: $responsiveMediumPadding 0 0 0;
  height: auto;
}

.newsPageSearchInput {
  /* Поле ввода для поиска авторов */
  display: flex;
  width: calc(275px - (-13 * ((1440px - 100vw) / (1440 - 375)))) !important;
  min-width: 275px;
  max-width: 288px;
  height: 51px !important;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
  font-size: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375))));
  margin: 0 !important;
  padding: 0 $responsiveSmallPadding !important;
  text-align: center;
}

// .newsPageLikeAndShareContainer {
//   /* Контейнер для кнопок лайка и шаринга */
//   display: flex;
//   flex-direction: row;
//   justify-content: end;
//   align-items: center;
//   margin: calc(31px - (-15 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0;
//   font-size: 18px;
// }

.newsPageLikeAndShareContainer {
  /* Контейнер для кнопок лайка и шаринга */
  display: none;
  display: none;
}

.newsPageTopCardsContainer,
.newsPageBottomCardsContainer {
  /* Контейнер для верхних карточек */
  display: flex;
  margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
}

.newsPageTopCardsWrapper,
.newsPageBottomCardsWrapper {
  /* Контейнер для верхних карточек */
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * $responsiveSmallPadding);
  margin: 0 calc(-1 * $responsiveSmallPadding);
}

.newsPageCardContainer {
  /* Контейнер для карточки новостей */
  padding: 0 $responsiveSmallPadding;
  margin: 0 0 $responsiveBigPadding 0;
  padding: 0 $responsiveSmallPadding;
  margin: 0 0 $responsiveBigPadding 0;
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsPageCardWrapper {
  /* Обертка для карточки новостей */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsPageCardImageWrapper {
  /* Обертка для изображения карточки */
  aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
  overflow: hidden;
}

.newsPageCardImage {
  /* Изображение карточки новостей */
  aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.newsPageCardTitleWrapper {
  /* Обертка для заголовка карточки */
  margin: $responsiveMediumPadding 0 0 0;
  margin: $responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.newsPageCardTitle {
  /* Заголовок карточки новостей */
  display: block;
  height: calc(calc(22px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 2); // Делаем ограничение вывода текста построчечно
  height: calc(calc(22px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 2); // Делаем ограничение вывода текста построчечно
  overflow: hidden;
}

.newsPageCardDescriptionWrapper {
  /* Обертка для описания карточки */
  margin: $responsiveSmallPadding 0 0 0;
  height: calc(calc(20px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 3); // Делаем ограничение вывода текста построчечно
  margin: $responsiveSmallPadding 0 0 0;
  height: calc(calc(20px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 3); // Делаем ограничение вывода текста построчечно
  overflow: hidden;
}

.newsPageCardDescription {
  /* Описание карточки новостей */
  font-family: $default-font;
  font-weight: 400;
  line-height: calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
}

.newsPageCardClockDateAndReadMoreButtonWrapper {
  /* Обертка для часов, даты и кнопки "Читать далее" */
  margin: $responsiveSmallPadding 0 0 0;
  margin: $responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsPageCardClockWrapper {
  /* Обертка для изображения часов */
  display: flex;
}

.newsPageCardClockImg {
  /* Изображение часов */
  display: flex;
  width: 20px;
  height: 20px;
}

.newsPageCardDateWrapper {
  /* Обертка для даты */
  margin: 0 0 0 $responsiveSmallPadding;
  margin: 0 0 0 $responsiveSmallPadding;
  display: flex;
}

.newsPageCardDate {
  /* Дата карточки новостей */
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
}

.newsPageCardReadMoreButtonWrapper {
  /* Обертка для кнопки "Читать далее" */
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsPageCardReadMoreButton {
  /* Кнопка "Читать далее" */
  cursor: pointer;
  color: $red;
}

.newsPageMoreNewsButtonAndLikeAndShareWrapper {
  /* Обертка для кнопки "Все новости" и лайка/шаринга */
  margin: 0 $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .newsPageLikeAndShareContainer {
    /* Контейнер для кнопок лайка и шаринга */
    margin: 0;
  }
}

.newsPageMoreNewsButtonWrapper {
  /* Обертка для кнопки "Все новости" */
  margin: 0 auto;
  margin: 0 auto;
}

.newsPageMoreNewsButton {
  /* Кнопка "Все новости" */
  padding: 0 $staticButtonLeftAndRightPadding;
  width: auto;
  padding: 0 $staticButtonLeftAndRightPadding;
  width: auto;
  height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 40px;
  max-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
  background-color: #fff;
  cursor: pointer;
}

.newsPageNewsButtonTitle {
  /* Стили для текста кнопки */
  margin: 0 $staticButtonLeftAndRightPadding 0 0;
  margin: 0 $staticButtonLeftAndRightPadding 0 0;
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
}

.newsPageNewsButtonImg {
  /* Стили для изображения кнопки */
  width: 30px;
  height: 30px;
}

.newsPageInputMailContainer {
  /* Контейнер для поля ввода email */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
}

.newsPageInputMailTitle {
  /* Заголовок поля ввода email */
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-align: center;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.newsPageInputMail {
  /* Поле ввода email */
  display: flex;
  margin: $responsiveMediumPadding 0 0 0 !important;
  padding: $responsiveSmallPadding !important;
  border-radius: 34px !important;
  border: 1px solid #000 !important;
  text-align: center;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  max-width: 300px;
}

.newsPageSignUpButtonContainer {
  /* Контейнер для кнопки регистрации */
  display: flex;
  justify-content: center;
  margin: $responsiveMediumPadding 0 0 0 !important;
  padding: 0 $responsiveLeftAndRightPadding;
}

.newsPageSignUpButton {
  /* Кнопка регистрации */
  padding: 0 $staticButtonLeftAndRightPadding;
  width: auto;
  height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 40px;
  max-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  background: #000 !important;
  border-radius: 34px;
  cursor: pointer;
}

@media (min-width: 1920px) {
  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    width: calc(100% / 4);
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    width: calc(100% / 3);
  }
}

@media (max-width: 1599px) {
  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    width: calc(100% / 2);
  }
}

@media (min-width: 1441px) {
  .newsPageContainer {
    /* Основной контейнер страницы новостей */
    margin: $staticPcTopPadding 0 0 0;
  }

  .newsPageTitleContainer {
    /* Контейнер для заголовка страницы новостей */
    margin: $staticPcBigPadding $responsiveLeftAndRightPadding $staticPcMediumPadding $responsiveLeftAndRightPadding;
  }

  .newsPageHorizontalSeparator {
    /* Горизонтальный разделитель */
    width: 60px;
  }

  .newsPageSearchContainer {
    /* Контейнер для поиска авторов */
    margin: $staticPcMediumPadding 0 0 0;
  }

  .newsPageSearchInput {
    /* Поле ввода для поиска авторов */
    padding: 0 $staticPcSmallPadding !important;
  }

  .newsPageTopCardsContainer,
  .newsPageBottomCardsContainer {
    /* Контейнер для верхних карточек */
    margin: $staticPcMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .newsPageTopCardsWrapper,
  .newsPageBottomCardsWrapper {
    /* Контейнер для верхних карточек */
    margin: 0 calc(-1 * $staticPcSmallPadding);
  }

  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    padding: 0 $staticPcSmallPadding;
    margin: 0 0 $staticPcBigPadding 0;
  }
  
  .newsPageCardTitleWrapper {
    /* Обертка для заголовка карточки */
    margin: $staticPcMediumPadding 0 0 0;
  }

  .newsPageCardTitle {
    /* Заголовок карточки новостей */
    height: calc(22px * 2); // Делаем ограничение вывода текста построчечно
  }

  .newsPageCardDescriptionWrapper {
    /* Обертка для описания карточки */
    margin: $staticPcSmallPadding 0 0 0;
    height: calc(20px * 3); // Делаем ограничение вывода текста построчечно
  }

  .newsPageCardDescription {
    /* Описание карточки новостей */
    line-height: 20px;
    font-size: 16px;
  }

  .newsPageCardClockDateAndReadMoreButtonWrapper {
    /* Обертка для часов, даты и кнопки "Читать далее" */
    margin: $staticPcSmallPadding 0 0 0;
  }

  .newsPageCardDateWrapper {
    /* Обертка для даты */
    margin: 0 0 0 $staticPcSmallPadding;
  }

  .newsPageCardDate {
    /* Дата карточки новостей */
    font-size: 18px;
  }

  .newsPageMoreNewsButtonAndLikeAndShareWrapper {
    /* Обертка для кнопки "Все новости" и лайка/шаринга */
    margin: 0 $responsiveLeftAndRightPadding;
  }

  .newsPageNewsButtonTitle {
    /* Стили для текста кнопки */
    margin: 0 $staticButtonLeftAndRightPadding 0 0;
    font-size: 16px;
  }

  .newsPageInputMailContainer {
    /* Контейнер для поля ввода email */
    margin: $staticPcBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .newsPageInputMailTitle {
    /* Заголовок поля ввода email */
    font-size: 18px;
  }

  .newsPageInputMail {
    /* Поле ввода email */
    margin: $staticPcMediumPadding 0 0 0 !important;
    padding: $staticPcSmallPadding !important;
    font-size: 16px;
  }

  .newsPageSignUpButtonContainer {
    /* Контейнер для кнопки регистрации */
    display: flex;
    justify-content: center;
    margin: $staticPcMediumPadding 0 0 0 !important;
    padding: 0 $responsiveLeftAndRightPadding;
  }

  .newsPageSignUpButton {
    /* Кнопка регистрации */
    font-size: 16px;
  }
}

@media (max-width: 799px) {  
  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    width: 100%;
  }
}


@media (max-width: 569px) {
  .newsPageContainer {
    /* Основной контейнер страницы новостей */
    margin: $staticMobileTopPadding 0 0 0;
  }

  .newsPageTitleContainer {
    /* Контейнер для заголовка страницы новостей */
    margin: $staticMobileBigPadding $responsiveLeftAndRightPadding $staticMobileMediumPadding $responsiveLeftAndRightPadding;
  }

  .newsPageHorizontalSeparator {
    /* Горизонтальный разделитель */
    width: 40px;
  }

  .newsPageSearchContainer {
    /* Контейнер для поиска авторов */
    margin: $staticMobileMediumPadding 0 0 0;
  }

  .newsPageSearchInput {
    /* Поле ввода для поиска авторов */
    padding: 0 $staticMobileSmallPadding !important;
  }

  .newsPageTopCardsContainer,
  .newsPageBottomCardsContainer {
    /* Контейнер для верхних карточек */
    margin: $staticMobileMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .newsPageTopCardsWrapper,
  .newsPageBottomCardsWrapper {
    /* Контейнер для верхних карточек */
    margin: 0 calc(-1 * $staticMobileSmallPadding);
  }

  .newsPageCardContainer {
    /* Контейнер для карточки новостей */
    padding: 0 $staticMobileSmallPadding;
    margin: 0 0 $staticMobileBigPadding 0;
  }
  
  .newsPageCardTitleWrapper {
    /* Обертка для заголовка карточки */
    margin: $staticMobileMediumPadding 0 0 0;
  }

  .newsPageCardTitle {
    /* Заголовок карточки новостей */
    height: calc(16px * 2); // Делаем ограничение вывода текста построчечно
  }

  .newsPageCardDescriptionWrapper {
    /* Обертка для описания карточки */
    margin: $staticMobileSmallPadding 0 0 0;
    height: calc(18px * 3); // Делаем ограничение вывода текста построчечно
  }

  .newsPageCardDescription {
    /* Описание карточки новостей */
    line-height: 18px;
    font-size: 14px;
  }

  .newsPageCardClockDateAndReadMoreButtonWrapper {
    /* Обертка для часов, даты и кнопки "Читать далее" */
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .newsPageCardDateWrapper {
    /* Обертка для даты */
    margin: 0 0 0 $staticMobileSmallPadding;
  }

  .newsPageCardDate {
    /* Дата карточки новостей */
    font-size: 14px;
  }

  .newsPageMoreNewsButtonAndLikeAndShareWrapper {
    /* Обертка для кнопки "Все новости" и лайка/шаринга */
    margin: 0 $responsiveLeftAndRightPadding;
  }

  .newsPageNewsButtonTitle {
    /* Стили для текста кнопки */
    margin: 0 $staticButtonLeftAndRightPadding 0 0;
    font-size: 12px;
  }

  .newsPageInputMailContainer {
    /* Контейнер для поля ввода email */
    margin: $staticMobileBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .newsPageInputMailTitle {
    /* Заголовок поля ввода email */
    font-size: 14px;
  }

  .newsPageInputMail {
    /* Поле ввода email */
    margin: $staticMobileMediumPadding 0 0 0 !important;
    padding: $staticMobileSmallPadding !important;
    font-size: 14px;
  }

  .newsPageSignUpButtonContainer {
    /* Контейнер для кнопки регистрации */
    display: flex;
    justify-content: center;
    margin: $staticMobileMediumPadding 0 0 0 !important;
    padding: 0 $responsiveLeftAndRightPadding;
  }

  .newsPageSignUpButton {
    /* Кнопка регистрации */
    font-size: 14px;
  }
}
