@import 'src/styles/utilities/variables.scss';

.newsPageContainer {
    /* Основной контейнер страницы новостей */
    display: flex;
    flex-direction: column;
    margin: $responsiveTopPadding 0 0 0;

    * {
        font-family: $default-font;
    }

    button {
        background: white;
    }
}

.newsPageTitleContainer {
    /* Контейнер для заголовка страницы новостей */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(51px - (28 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
}

.newsPageTitle {
    /* Заголовок страницы новостей */
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    text-transform: uppercase;
}

.newsPageHorizontalSeparatorContainer {
    /* Контейнер для горизонтального разделителя */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(23px - (2 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
}

.newsPageHorizontalSeparator {
    /* Горизонтальный разделитель */
    display: flex;
    width: calc(60px - (20 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 60px;
    height: 1px;
    background: #000;
}

.newsPageSearchContainer {
    /* Контейнер для поиска авторов */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px 0 0 0;
}

.newsPageSearchInput {
    /* Поле ввода для поиска авторов */
    display: flex;
    width: calc(275px - (-13 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 275px;
    max-width: 288px;
    height: 51px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375))));
    margin: 0 !important;
}

.newsPageLikeAndShareContainer {
    /* Контейнер для кнопок лайка и шаринга */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: calc(31px - (-15 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0;
    font-size: 18px;
}

.newsPageLikeWrapper {
    /* Обертка для кнопки лайка */
    display: flex;
    align-items: center;
}

.newsPageLikeButton {
    /* Кнопка лайка */
    display: flex;
    align-self: center;
    cursor: pointer;
}

.newsPageLikeButtonImg {
    /* Изображение на кнопке лайка */
    display: flex;
    align-self: center;
    object-fit: contain;
    object-position: center;
    width: 32px;
    height: 32px;
}

.newsPageLikeButtonText {
    /* Текст на кнопке лайка */
    display: flex;
    align-self: center;
    padding: 0 11.5px 0 5px;
}

.newsPageShareWrapper {
    /* Обертка для кнопки шаринга */
    display: flex;
    align-items: center;
}

.newsPageShareButton {
    /* Кнопка шаринга */
    display: flex;
    align-self: center;
    cursor: pointer;
}

.newsPageShareButtonText {
    /* Текст на кнопке шаринга */
    display: flex;
    align-self: center;
    padding: 0 5px 0 11.5px;
}

.newsPageShareButtonImg {
    /* Изображение на кнопке шаринга */
    display: flex;
    align-self: center;
    object-fit: contain;
    object-position: center;
    width: 32px;
    height: 32px;
}

.newsPageTopCardsContainer, .newsPageBottomCardsContainer{
    /* Контейнер для верхних карточек */
    display: flex;
    margin: 23px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
}

.newsPageTopCardsWrapper, .newsPageBottomCardsWrapper{
    /* Контейнер для верхних карточек */
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-10 / 1440 * 100vw);
}

.newsPageCardContainer {
    /* Контейнер для карточки новостей */
    padding: 0 calc(10 / 1440 * 100vw);
    margin: 0 0 calc(60px - (9 * ((1440px - 100vw) / (1440 - 375)))) 0;
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsPageCardWrapper {
    /* Обертка для карточки новостей */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsPageCardImageWrapper {
    /* Обертка для изображения карточки */
    aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    overflow: hidden;
}

.newsPageCardImage {
    /* Изображение карточки новостей */
    aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.newsPageCardTitleWrapper {
    /* Обертка для заголовка карточки */
    margin: calc(26px - (9 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    flex-direction: column;
}

.newsPageCardTitle {
    /* Заголовок карточки новостей */
    display: block;
    font-family: $default-font;
    font-weight: 500;
    font-size: calc(22px - (6 * ((1440px - 100vw) / (1440 - 375))));
    height: calc(calc(22px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 2); // Делаем ограничение вывода текста построчечно
    overflow: hidden;
    text-transform: uppercase;
}

.newsPageCardDescriptionWrapper {
    /* Обертка для описания карточки */
    margin: calc(18px - (9 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    height: calc(calc(20px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 3); // Делаем ограничение вывода текста построчечно
    overflow: hidden;
}

.newsPageCardDescription {
    /* Описание карточки новостей */
    font-family: $default-font;
    font-weight: 400;
    line-height: calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
    font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
}

.newsPageCardClockDateAndReadMoreButtonWrapper {
    /* Обертка для часов, даты и кнопки "Читать далее" */
    margin: calc(18px - (2 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newsPageCardClockWrapper {
    /* Обертка для изображения часов */
    display: flex;
}

.newsPageCardClockImg {
    /* Изображение часов */
    display: flex;
    width: 20px;
    height: 20px;
}

.newsPageCardDateWrapper {
    /* Обертка для даты */
    margin: 0 0 0 calc(10px - (3 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
}

.newsPageCardDate {
    /* Дата карточки новостей */
    font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
}

.newsPageCardReadMoreButtonWrapper {
    /* Обертка для кнопки "Читать далее" */
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsPageCardReadMoreButton {
    /* Кнопка "Читать далее" */
    cursor: pointer;
    color: #d83934;
}

.newsPageSlider {
    /* Слайдер новостей */
}

.newsPageBottomCardContainer {
    /* Контейнер для нижних карточек */
}

.newsPageMoreNewsButtonAndLikeAndShareWrapper {
    /* Обертка для кнопки "Все новости" и лайка/шаринга */
    margin: 0 $responsiveLeftAndRightPadding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .newsPageLikeAndShareContainer {
        /* Контейнер для кнопок лайка и шаринга */
        margin: 0;
    }
}

.newsPageMoreNewsButtonWrapper {
    /* Обертка для кнопки "Все новости" */
    margin: 0 0 0 calc(100%/2 - calc((238px - (105 * ((1440px - 100vw) / (1440 - 375))))/2));
}

.newsPageMoreNewsButton {
    /* Кнопка "Все новости" */
	padding: 0 calc(0 / 1440 * 100vw);
	width: calc(238px - (105 * ((1440px - 100vw) / (1440 - 375))));
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-width: 163px;
	min-height: 40px;
	max-width: 238px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background-color: #fff;
	cursor: pointer;
}

.newsPageNewsButtonTitle {
    /* Стили для текста кнопки */
	margin: 0 calc(12px - (2 * ((1440px - 100vw) / (1440 - 375)))) 0 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
}

.newsPageNewsButtonImg {
    /* Стили для изображения кнопки */
	width: 30px;
	height: 30px;
}

.newsPageInputMailContainer {
    /* Контейнер для поля ввода email */
}

.newsPageInputMail {
    /* Поле ввода email */
}

.newsPageInputMailButton {
    /* Кнопка подписки на новости */
}

.newsPageSignUpButtonContainer {
    /* Контейнер для кнопки регистрации */
}

.newsPageSignUpButton {
    /* Кнопка регистрации */
}

@media (min-width: 1600px) {
    .newsPageTopCardsContainer {
        /* Контейнер для верхних карточек */
        .newsPageCard5, .newsPageCard6 {
            display: flex;
            margin: 0 ;
        }
    }
    
    .newsPageBottomCardsContainer {
        /* Контейнер для нижних карточек */
        .newsPageCard5, .newsPageCard6 {
            display: none;
        }
        
        .newsPageCard11, .newsPageCard12 {
            display: flex;
        }
    }

    .newsPageCardContainer {
        /* Контейнер для карточки новостей */
        width: calc(100%/3);
    }
}

@media (max-width: 1599px) {
    .newsPageTopCardsContainer {
        /* Контейнер для верхних карточек */
        .newsPageCard5, .newsPageCard6 {
            display: none;
        }
    }
    
    .newsPageBottomCardsContainer {
        /* Контейнер для нижних карточек */
        .newsPageCard5, .newsPageCard6 {
            display: flex;
        }
        
        .newsPageCard9, .newsPageCard10, .newsPageCard11, .newsPageCard12 {
            display: none;
        }
    }
}

@media (min-width: 1441px) {
    .newsPageContainer {
        margin: $staticPcTopPadding 0 0 0;
    }

    .newsPageTitleContainer {
        /* Контейнер для заголовка страницы новостей */
        margin: 51px 0 0 0;
    }

    .newsPageTitle {
        /* Заголовок страницы новостей */
        font-size: 28px;
    }

    .newsPageHorizontalSeparatorContainer {
        /* Контейнер для горизонтального разделителя */
        margin: 23px 0 0 0;
    }

    .newsPageSearchInput {
        /* Поле ввода для поиска авторов */
        font-size: 18px;
    }

    .newsPageLikeAndShareContainer {
        /* Контейнер для кнопок лайка и шаринга */
        margin: 31px $responsiveLeftAndRightPadding 0;
    }

    .newsPageCardClockDateAndReadMoreButtonWrapper {
        /* Обертка для часов, даты и кнопки "Читать далее" */
        margin: 18px 0 0 0; 
    }
}

@media (max-width: 799px) {
    .newsPageCardContainer {
        /* Контейнер для карточки новостей */
        padding: 0 calc(10 / 1440 * 100vw);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .newsPageMoreNewsButtonAndLikeAndShareWrapper {
        /* Обертка для кнопки "Все новости" и лайка/шаринга */
        margin: 0 $responsiveLeftAndRightPadding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        .newsPageLikeAndShareContainer {
            /* Контейнер для кнопок лайка и шаринга */
            margin: 32px auto 0 auto;
        }
    }
    
    .newsPageMoreNewsButtonWrapper {
        /* Обертка для кнопки "Все новости" */
        margin: 0 auto;
    }
}

@media (max-width: 569px) {
    .newsPageContainer {
        margin: $staticMobileTopPadding 0 0 0;
    }
}