@import "/src/styles/utilities/variables.scss";

.mainPageBannerContainer {
	width: 100vw;
	background: rgb(255, 255, 255);
}

// MainBannerSlider.module.scss

.mainPageBanner {
	// Основной стиль для блока баннера
	padding: 0 $responsiveLeftAndRightPadding;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: calc(579px - (337 * ((1440px - 100vw) / (1440 - 375))));
	max-height: 579px;
	min-height: 458px;
	background-image: url(/public/Img/mainBanner.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.34);
}

.mainPageBanner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.34;

}

.bannerTitleWrapper {
	// Стиль для обертки заголовка
	margin: calc(202px - (166 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
	display: flex;
	flex-direction: column;
	font-family: $default-font;
	color: white;
	z-index: 1;
}

.bannerTitle {
	// Стиль для заголовка
	font-size: calc(42px - (20 * ((1440px - 100vw) / (1440 - 375))));
	text-transform: uppercase;
}

.bannerSubTitle {
	// Стиль для подзаголовка
	margin: calc(15px - (3 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
	font-size: calc(24px - (8 * ((1440px - 100vw) / (1440 - 375))));
}

.bannerSubTitleAndLinkTitle {
	// Общие стили для подзаголовка и ссылки
}

.bannerTitleButtonWrapper {
	// Стиль для обёртки кнопки заголовка
	display: flex;
	margin: calc(24px - (6 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
}

.bannerTitleButton {
	// Стиль для кнопки заголовка
	display: flex;
	width: calc(238px - (110 * ((1440px - 100vw) / (1440 - 375))));
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-width: 128px;
	min-height: 40px;
	max-width: 238px;
	max-height: 51px;
	align-items: center;
	justify-content: center;
	border-radius: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	color: #fff;
	border: none;
	background-color: #3a8374;
	cursor: pointer;
	font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));

}

.bannerButtonsWrapper {
	// Стиль для обертки кнопок
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 calc(5px - (-20 * ((1440px - 100vw) / (1440 - 375)))) 0;
	justify-content: center;
	z-index: 1;
}

.bannerArrowButtonsWrapper {
	// Стиль для обертки кнопок со стрелками
	display: flex;
	align-items: center;
}

.bannerPreviousArrowButton {
	// Стиль для кнопки предыдущей стрелки
	// padding: 0 5px 0 0;
	background: url(/public/Img/leftGreyArrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.bannerNextArrowButton {
	// Стиль для кнопки следующей стрелки	
	// padding: 0 0 0 5px;
	background: url(/public/Img/rightBlackArrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.bannerCircleButton {
	// Общие стили для круглых кнопок (стрелок)
	width: calc(42px - (7 * ((1440px - 100vw) / (1440 - 375))));
	height: calc(42px - (7 * ((1440px - 100vw) / (1440 - 375))));
	min-width: 35px;
	min-height: 35px;
	max-width: 42px;
	max-height: 42px;
	border-radius: 50%;
	background-color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.bannerPaginationsWrapper {
	// Стиль для обертки пагинаций
	font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
	margin: 0 10px;
	display: flex;
	color: #fff;
}

.bannerPaginationsCurrentItem {
	// Стиль для текущего элемента пагинации
}

.bannerPaginationsSeparator {
	// Стиль для разделителя пагинации
	margin: 0 calc(7px - (3 * ((1440px - 100vw) / (1440 - 375))));
	color: #fff;
}

.bannerPaginationsTotalItems {
	// Стиль для общего количества элементов пагинации
}

.bannerLinkWrapper {
	// Стиль для обертки ссылки
	// margin: 0 0 calc(-32px - (-56 * ((1440px - 100vw) / (1440 - 375)))) 0;
	// width: 100%;
	// font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
	// color: #fff;	
	// display: flex;
	display: none;
}

.bannerLinkButton {
	// Стиль для кнопки ссылки
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	background: transparent;
	color:#fff;
	cursor: pointer;
}

.bannerLinkButtonTitleLeftBracket {
	// Стиль для левой скобки в кнопке ссылки
}

.bannerLinkButtonTitle {
	// Стиль для текста в кнопке ссылки
}

.bannerLinkButtonTitleRightBracket {
	// Стиль для правой скобки в кнопке ссылки
}

.bannerLinkButtonTitleArrow {
	// Стиль для стрелки в кнопке ссылки
	margin: 0 0 0 40px;
	font-size: 44px;
}


@media (min-width: 1440px) {
	.bannerTitleWrapper {
		// Стиль для обертки заголовка
		margin: 202px 0 0 0;
	}

	.bannerTitle {
		// Стиль для заголовка
		font-size: 42px;
	}

	.bannerSubTitle {
		// Стиль для подзаголовка
		margin: 15px 0 0 0;
		font-size: 24px;
	}

	.bannerTitleButtonWrapper {
		// Стиль для обёртки кнопки заголовка
		margin: 24px 0 0 0;
	}

	.bannerTitleButton {
		// Стиль для кнопки заголовка
		border-radius: 51px;
		font-size: 16px;
	}

	.bannerButtonsWrapper {
		// Стиль для обертки кнопок
		margin: 0 0 5px 0;
	}

	.bannerPaginationsWrapper {
		// Стиль для обертки пагинаций
		font-size: 18px;
	}

	.bannerPaginationsSeparator {
		// Стиль для разделителя пагинации
		margin: 0 7px;
	}
}

@media (max-width: 375px) {
	.bannerTitle {
		// Стиль для заголовка
		font-size: calc(22px - (4 * ((375px - 100vw) / (375 - 320))));
	}
}