@import '../utilities/variables.scss';

.sortable-header {
    user-select: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-8 {
    gap: 2rem;
}

.w-16 {
    width: 4rem;
}

.form-wrapper {
    width: 100%;
}
.required-field {
    color: red;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;

	input {
		margin: $responsiveSmallPadding 0 0 0;
	}
}

.field-group {
	width: 100%;
	display: flex;
	flex-direction: column;
}