@import '/src/styles/utilities/variables.scss';
@import '/src/styles/components/Blocks/TextEditor.module.scss';

.LoginContainer {
	padding: $responsiveTopPadding 0 0 0;
	text-align: center;
	height: calc(100vh - 234px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;

	button {
		color: white;
	}
}

.LoginWrapper {
	margin: $responsiveBigPadding $responsiveLeftAndRightPadding;
	background-color: white;
	width: 300px;
	padding: $responsiveSmallPadding;
	border-radius: 8px;
	border: 1px solid black;	
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
}

// Form Styles
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SignUp {
	margin: $responsiveSmallPadding 0 0 0;
	color: $red;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 600;
	cursor: pointer;
}

// Error/Success Messages
