.App {
	text-align: center;
	height: 100dvh;

	display: flex;
}

.App-header {
	background-color: #282c34;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: white;
	height: 100vw;
	height: 100%;
}

h2 {
	margin: 0 0 20px 0;
	font-size: 2rem;
	color: #61dafb;
}

// Form Styles
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 80%;
	max-width: 300px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
}

input[type='submit'] {
	width: 80%;
	max-width: 300px;
	padding: 10px;
	margin: 20px 0;
	background-color: #61dafb;
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type='submit']:hover {
	background-color: #21a1f1;
}

// Error/Success Messages
