.SignUpContainer {
	text-align: center;
	height: 100dvh;
	justify-content: center;
	display: flex;
}

.SignUpWrapper {
	background-color: #282c34;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: white;
	width: 100%;
	height: 100%;
	align-content: center;
}

// Form Styles
.SignUpFormWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// input[type='text'],
// input[type='email'],
// input[type='password'] {
// 	padding: 10px;
// 	margin: 10px 0;
// 	border: 1px solid #ddd;
// 	border-radius: 4px;
// 	font-size: 1rem;
// }

// button[type='submit'] {
// 	width: 80%;
// 	max-width: 300px;
// 	padding: 10px;
// 	margin: 20px 0;
// 	background-color: #61dafb;
// 	border: none;
// 	border-radius: 4px;
// 	color: white;
// 	font-size: 1rem;
// 	cursor: pointer;
// 	transition: background-color 0.3s ease;
// }

// button[type='submit']:hover {
// 	background-color: #21a1f1;
// }

// Error/Success Messages
