@import '/src/styles/utilities/variables.scss';

// .masonryGallery {
// 	width: 100%;
// 	margin: 0 auto;
// }

// .row {
// 	display: flex;
// 	margin-bottom: 10px; // Gap between rows
// }

// .item {
// 	display: block;
// }

// .item:not(:last-child) {
// 	margin-right: 10px; // Gap between items
// }

// img {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// }
/* JustifiedGallery.module.scss */

.galleryContainer {
	margin: calc(87px - (43 * ((1440px - 100vw) / (1440 - 375))))
		$responsiveLeftAndRightPadding 0;
	overflow: hidden; // Prevent horizontal scroll due to rounding errors
}

.justifiedGallery {
	margin: calc(46px - (29 * ((1440px - 100vw) / (1440 - 375)))) 0 0;
	width: 100%;
}

.row {
	display: flex;
	margin-bottom: 10px; // Gap between rows
}

.item {
	display: block;
}

.item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.item:not(:last-child) {
	margin-right: 10px; // Gap between items
}

.galleryTitleWrapper {
	// Обертка заголовка
	display: flex;
	align-items: start;
	width: 100%;
}

.galleryTitle {
	// Заголовок
	font-family: $default-font;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 600;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.moreArtsButtonWrapper {
	// Обертка кнопки "Показать больше"
	display: flex;
	align-items: center;
	justify-content: end;
	width: 100%;
}

.moreArtsButton {
	// Кнопка "Показать больше"
	margin: calc(30px - (5 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
	border: none;
	background: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.moreArtsButtonText {
	// Текст кнопки "Показать больше"
	font-size: calc(19px - (7 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
}

.buttonArrow {
	// Кнопка "Показать больше"
	margin: 0 0 0 10px;
	font-weight: 500;
	text-transform: uppercase;
}

@media screen and (min-width: 1441px) {
	.galleryContainer {
		margin: 87px $responsiveLeftAndRightPadding 0;
	}

	.justifiedGallery {
		margin: 46px 0 0;
	}

	.galleryTitle {
		// Заголовок
		font-size: 28px;
	}

	.moreArtsButton {
		// Кнопка "Показать больше"
		margin: 30px 0 0 0;
	}

	.moreArtsButtonText {
		// Текст кнопки "Показать больше"
		font-size: 19px;
	}
}

@media screen and (max-width: 569px) {
	.moreArtsButtonWrapper {
		// Обертка кнопки "Показать больше"
		justify-content: center;
	}
}
