@import '/src/styles/utilities/variables.scss';

.popularOfThisArtistSliderContainer {
    // Контейнер слайдера
    display: flex;
    margin: calc(87px - (43 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
}

.popularOfThisArtistSliderWrapper {
    // Обёртка слайдера
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popularOfThisArtistSliderTopInnerWrapper {
    // Верхняя часть слайдера
    display: flex;
    justify-content: space-between;
    padding: calc(51px - (17 * ((1440px - 100vw) / (1440 - 375)))) 0;
}

.popularOfThisArtistSliderTitleWrapper {
    // Обёртка заголовка
    display: flex;
    align-items: center;
}

.popularOfThisArtistSliderTitle {
    // Заголовок    
    font-family: $default-font;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.popularOfThisArtistSliderLikeAndShareWrapper {
    // Обёртка кнопок Like и Share
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 auto;
    width: 177px;
}

.popularOfThisArtistSliderLikeInnerWrapper {
    // Обёртка кнопки Like
}

.popularOfThisArtistSliderLikeButton {
    // Кнопка Like
    position: relative;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.popularOfThisArtistSliderLikeButton::after {
    content: "Like";
    position: absolute;
    top: 6px;
    left: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.popularOfThisArtistSliderLikeButtonImg {
    // Изображение кнопки Like
}

.popularOfThisArtistSliderShareInnerWrapper {
    // Обёртка кнопки Share
}

.popularOfThisArtistSliderShareButtonButton {
    // Кнопка Share
    position: relative;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.popularOfThisArtistSliderShareButtonButton::before {
    content: "Share";
    position: absolute;
    top: 6px;
    right: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.popularOfThisArtistSliderShareButtonImg {
    // Изображение кнопки Share
}

.popularOfThisArtistSliderBottomInnerWrapper {
    // Нижняя часть слайдера
    display: flex;
    width: 100%;
    height: calc(514px - (75 * ((1440px - 100vw) / (1440 - 375))));

    @at-root {
        :root {
            --swiper-navigation-size: calc(42px - (7 * ((1440px - 100vw) / (1440 - 375))));
        }
    }

    .swiper-wrapper {
        position: relative;
        margin: 0 0 0 calc(-20px - (-1 * ((1440px - 100vw) / (1440 - 375))));
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: auto;
        height: 100%;
        position: relative;
        transition-property: transform;
        display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: calc(calc(514px - (75 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 2));
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
        // margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
        z-index: 11;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        border-radius: 50%;
        color: white;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        // left: calc(638px - (505 * ((1440px - 100vw) / (1440 - 375))));
        left: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Navigation font start */
    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            font-family: swiper-icons;
            font-size: 10px;
            font-weight: 900;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.24) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Common Styles */
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        // bottom: calc(calc(14px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 2.5);
        top: calc(calc(514px - (75 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 1.4));
        left: 0;
        width: 100%;
    }

    /* Fraction */
    .swiper-pagination-fraction {
        color: black;
    }
}

.popularOfThisArtistSliderCardContainer {
    // Обёртка карточки слайдера
    width: calc(282px - (32 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 250px;
    max-width: 282px;
    height: auto;
    margin: 0 calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.popularOfThisArtistSliderCardImgWrapper {
    // Внутренняя обёртка карточки
    position: relative;
    display: flex;
    width: calc(282px - (32 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 250px;
    max-width: 282px;
    height: calc(282px - (32 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 250px;
    max-height: 282px;    
}

.popularOfThisArtistSliderCardImg {
    // Изображение карточки
    // aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.popularOfThisArtistSliderSoldSellIconWrapper {
    // Обёртка иконки "Продано" и "Продажа"
    position: absolute;
    bottom: calc(9px - (2 * ((1440px - 100vw) / (1440 - 375))));
    right: calc(9px - (2 * ((1440px - 100vw) / (1440 - 375))));
    width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularOfThisArtistSliderSoldIcon {
    // Иконка "Продано"
    width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    background-color: $red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px - (3 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    font-family: $default-font;
    text-transform: uppercase;
}

.popularOfThisArtistSliderSellIcon {
    // Иконка "Продажа"
    width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px - (3 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    font-family: $default-font;
    text-transform: uppercase;
}

@media screen and (min-width: 1441px) {
    .popularOfThisArtistSliderContainer {
        // Контейнер слайдера
        margin: 87px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    }

    .popularOfThisArtistSliderSoldSellIconWrapper {
        // Обёртка иконки "Продано" и "Продажа"
        position: absolute;
        bottom: 9px;
        right: 9px;
    }
    
    .popularOfThisArtistSliderSoldIcon {
        // Иконка "Продано"
        font-size: 14px;
    }
    
    .popularOfThisArtistSliderSellIcon {
        // Иконка "Продажа"
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .popularOfThisArtistSliderLikeAndShareWrapper {
        // Обёртка кнопок Like и Share
        width: 80px;
    }
    .popularOfThisArtistSliderLikeButton::after {
        display: none;
    }
    .popularOfThisArtistSliderShareButtonButton::before {
        display: none;
    }
}