@use "@styles/utilities/variables.scss";

.postDetailContainer {
  // главный контейнер
  margin: variables.$responsiveTopPadding variables.$responsiveLeftAndRightPadding 0
    variables.$responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;

  * {
    font-family: variables.$default-font;
  }
}

.postPageNavigationContainer {
  // контейнер для навигации
  display: flex;
  width: 100%;
}

.postPageNavigation {
  // навигационный блок
  margin: variables.$responsiveBigPadding 0 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.postPageNavigationList {
  // список навигации
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.postPageNavigationItem {
  // элемент списка навигации
  display: flex;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}
.postPageNavigationItemSeparator {
  // разделитель между элементами списка навигации
  margin: 0 variables.$responsiveMediumPadding;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: variables.$red;
  user-select: none;
}

.postPageAboutNewsContainer {
  // блок с описанием митця
  margin: variables.$responsiveMediumPadding variables.$responsiveLeftAndRightPadding 0
    variables.$responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postPagePhotoNewsWithDescriptionWrapper {
  // обертка для фото митця с описанием
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(828px - (478 * ((1440px - 100vw) / (1440 - 375))));
}
.postPageNewsPhotoWrapper {
  // обертка для фото митця
  display: inline-block;
  width: fit-content;
  height: fit-content;
  max-width: max-content;
  max-height: max-content;
  border-radius: 3px;
}

.postPageNewsPhoto {
  // фото митця
  // margin: 0 auto;
  display: block;
  object-fit: contain;
  object-position: center center;
  border-radius: 3px;
  max-height: calc(415px - (228 * ((1440px - 100vw) / (1440 - 375))));
}

.postPageNewsTitleWrapper {
  // обертка для названия Title
  margin: variables.$responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postPageNewsTitle {
  // название Title
  font-size: calc(30px - (12 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 600;
  text-transform: uppercase;
}

.postPageNewsSeparatorWrapper {
  // обертка для разделителя Post
  margin: variables.$responsiveMediumPadding 0 0 0;
}
.postPageNewsSeparator {
  // разделитель Post
  width: calc(60px - (20 * ((1440px - 100vw) / (1440 - 375))));
  min-width: 40px;
  max-width: 60px;
  height: 1px;
  background: black;
}

.postPageNewsDescriptionWrapper {
  // обертка для описания митця
  margin: variables.$responsiveMediumPadding 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postPageNewsDescription {
  // описание митця
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  // text-align: center;
}
.postPageNewsAuthorNameWrapper {
  margin: calc(22px - (-3 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postPageNewsAuthorName {
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  text-align: center;
}

.cardClockAndDateWrapper {
  // Стили для обертки даты и времени карточки
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  align-items: center;
}

.cardClockAndDateInner {
  // Стили для обертки даты и времени карточки
  display: flex;
  align-items: center;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  gap: 10px;
}

.cardClockImgWrapper {
  // Стили для обертки изображения часов
  display: flex;
  width: 20px;
  height: 20px;
}

.postPageNewsDataTimeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postPageNewsDataTime {
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  text-align: center;
}

.postPageNewsReadMoreButtonWrapper {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postPageNewsReadMoreButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
}
.postPageNewsReadMoreButtonText {
  font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
}
.postPageNewsReadMoreButtonArrow {
  font-size: calc(25px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
}

@media (min-width: 1441px) {
  .postDetailContainer {
    // главный контейнер
    margin: variables.$staticPcTopPadding variables.$responsiveLeftAndRightPadding 0
      variables.$responsiveLeftAndRightPadding;
  }

  .postPageNavigation {
    // навигационный блок
    margin: variables.$staticPcBigPadding 0 0 variables.$responsiveLeftAndRightPadding;
  }

  .postPageNavigationItem {
    // элемент списка навигации
    font-size: 18px;
  }

  .postPageNavigationItemSeparator {
    // разделитель между элементами списка навигации
    font-size: 18px;
  }

  .postPageAboutNewsContainer {
    // блок с описанием митця
    margin: variables.$staticPcMediumPadding variables.$responsiveLeftAndRightPadding 0
      variables.$responsiveLeftAndRightPadding;
  }

  .postPageNewsPhoto {
    // фото митця
    max-width: 828px;
    max-height: 415px;
  }

  .postPageNewsTitleWrapper {
    // обертка для названия Title
    margin: variables.$staticPcMediumPadding 0 0 0;
  }

  .postPageNewsTitle {
    // название Title
    font-size: 30px;
  }

  .postPageNewsSeparatorWrapper {
    // обертка для разделителя Post
    margin: variables.$staticPcMediumPadding 0 0 0;
  }

  .postPageNewsDescriptionWrapper {
    // обертка для описания Post
    margin: variables.$staticPcMediumPadding 0 0 0;
  }

  .postPageNewsDescription {
    // описание митця
    font-size: 16px;
  }

  .postPageNewsReadMoreButton {
    // кнопка "читать больше"
    font-size: 16px;
  }

  .postPageNewsReadMoreButtonText {
    // текст кнопки "читать больше"
    font-size: 16px;
  }

  .postPageNewsReadMoreButtonArrow {
    // стрелка кнопки "читать больше"
    font-size: 25px;
  }

  .artistPageFollowContainer {
    // обертка для слайдера "арты митца"
    margin: 67px variables.$responsiveLeftAndRightPadding 0 variables.$responsiveLeftAndRightPadding;
  }

  .artistPageFollowTitle {
    // заголовок слайдера "арты митца"
    font-size: 22px;
  }

  .artistPageFollowEmailWrapper {
    // обертка для ввода почты
    margin: 48px 0 0 0;
  }

  .artistPageFollowEmail {
    // ввод почты
    font-size: 16px;
  }

  .artistPageFollowButton {
    // кнопка "подписаться"
    font-size: 16px;
  }
}

@media (max-width: 569px) {
  .postDetailContainer {
    // главный контейнер
    margin: variables.$staticMobileTopPadding variables.$responsiveLeftAndRightPadding 0
      variables.$responsiveLeftAndRightPadding;
  }

  .postPageAboutNewsContainer {
    // блок с описанием митця
    margin: variables.$staticMobileMediumPadding variables.$responsiveLeftAndRightPadding 0
      variables.$responsiveLeftAndRightPadding;
  }
}

@media (max-width: 374px) {
  .postPageNewsPhoto {
    // фото митця
    max-width: 100%;
  }
}
