@import "/src/styles/utilities/variables.scss";

.AuthorsPageContainer {
  //* главный контейнер
  margin: $responsiveTopPadding 0 0 0;
  display: flex;
  flex-direction: column;

  * {
    font-family: $default-font;
  }
}

.AuthorPhotoNameContainer {
  //* Контейнер для изображения и названия артиста
  margin: $responsiveBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AuthorPhotoWrapper {
  //* Контейнер для изображения артиста
  width: calc(115px - (15 * ((1440px - 100vw) / (1440 - 375))));
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.AuthorPhoto {
  //* Изображение артиста
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.AuthorTitleWrapper {
  //* Контейнер для названия страницы
  margin: 0 $responsiveSmallPadding 0;
  width: 100%;
  height: calc(115px - (15 * ((1440px - 100vw) / (1440 - 375))));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.AuthorLink {
  //* Ссылка на страницу артиста
  font-family: $default-font;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 400;
  color: $red;
  text-transform: uppercase;
}

.LikeAndShareWrapper {
  //* Контейнер для кнопок "Нравится" и "Поделиться"
  margin: 0 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthorNavBarTwoSection {
  margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuthorNavBarWrapper {
  display: flex;
  align-items: center;
  p {
    font-family: $default-font;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
}
.PostsNavBarLeft {
  margin: 0 $responsiveSmallPadding 0 0;
  cursor: pointer;
}

.NavBarSeparator {
  //* Разделитель между кнопками навигации
  width: 1px;
  height: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
  background-color: black;
}

.AuthorsNavBarRight {
  margin: 0 0 0 $responsiveSmallPadding;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.AuthorPostsListsWrapper {
  margin: $responsiveMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.AuthorPostsLists {
  //padding: 0 calc(10 / 1440 * 100vw);
  // width: 48.46%;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.AuthorPostsListsTitleWrapper {
  display: flex;
  flex-direction: column;
}

.AuthorPostsListsTitle {
  // Стили для обертки заголовка карточки
  display: block;
  font-family: $default-font;
  font-weight: 500;
  font-size: calc(22px - (6 * ((1440px - 100vw) / (1440 - 375))));
  height: calc(
    calc(22px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 2
  ); // Делаем ограничение вывода текста построчечно
  overflow: hidden;
  text-transform: uppercase;
}

.AuthorPostsListsContentWrapper {
  // Стили для обертки описания карточки
  margin: $responsiveSmallPadding 0 0 0;
  height: calc(
    calc(20px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 3
  ); // Делаем ограничение вывода текста построчечно
  overflow: hidden;
}

.AuthorPostsListsContent {
  // Стили для описания карточки
  font-family: $default-font;
  font-weight: 400;
  line-height: calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
}

.AuthorPostsListsInfoWrapper {
  // Стили для карточки новостей
  //padding: 0 calc(10 / 1440 * 100vw);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.AuthorPostsListsImageWrapper {
  // Стили для обертки изображения карточки
  aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.AuthorPostsListsImage {
  // Стили для изображения карточки
  aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
  object-fit: cover;
  object-position: center;
  width: 90%;
  height: 90%;
}

.cardClockAndDateInner {
  margin: $responsiveSmallPadding 0 0 0;
  display: flex;
  align-items: center;
}

.cardClockAndDateInner {
  // Стили для обертки даты и времени карточки
  display: flex;
  align-items: center;
  font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
}

.cardClockImgWrapper {
  // Стили для обертки изображения часов
  display: flex;
  width: 20px;
  height: 20px;
}

.cardDateWrapper {
  // Стили для обертки даты
  margin: 0 0 0 $responsiveSmallPadding;
  display: flex;
}

.cardTimeWrapper {
  // Стили для обертки даты
  margin: 0 0 0 $responsiveSmallPadding;
  display: flex;
}

@media (min-width: 1441px) {
  .AuthorsPageContainer {
    //* главный контейнер
    margin: $staticPcTopPadding 0 0 0;
  }

  .AuthorPhotoNameContainer {
    //* Контейнер для изображения и названия артиста
    margin: $staticPcBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorPhotoWrapper {
    //* Контейнер для изображения артиста
    width: 115px;
  }

  .AuthorTitleWrapper {
    //* Контейнер для названия страницы
    margin: 0 $staticPcSmallPadding 0;
    width: 115px;
  }

  .AuthorLink {
    //* Ссылка на страницу артиста
    font-size: 16px;
  }

  .AuthorNavBarTwoSection {
    margin: $staticPcMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorNavBarWrapper {
    p {
      font-size:28px;
    }
  }
  .PostsNavBarLeft {
    margin: 0 $staticPcSmallPadding 0 0;
  }

  .NavBarSeparator {
    //* Разделитель между кнопками навигации
    height: 28px;
  }

  .AuthorsNavBarRight {
    margin: 0 0 0 $staticPcSmallPadding;
  }

  .AuthorPostsListsWrapper {
    margin: $staticPcMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorPostsListsTitle {
    // Стили для обертки заголовка карточки
    font-size: 22px;
    height: calc(22px * 2);
  }

  .AuthorPostsListsContentWrapper {
    // Стили для обертки описания карточки
    margin: $staticPcSmallPadding 0 0 0;
    height: calc(20px * 3);
  }

  .AuthorPostsListsContent {
    // Стили для описания карточки
    line-height: 20px;
    font-size: 16px;
  }

  .cardClockAndDateInner {
    margin: $staticPcSmallPadding 0 0 0;
  }

  .cardClockAndDateInner {
    // Стили для обертки даты и времени карточки
    font-size: 16px;
  }

  .cardDateWrapper {
    // Стили для обертки даты
    margin: 0 0 0 $staticPcSmallPadding;
  }

  .cardTimeWrapper {
    // Стили для обертки даты
    margin: 0 0 0 $staticPcSmallPadding;
  }
}

@media (max-width: 569px) {
  .AuthorsPageContainer {
    //* главный контейнер
    margin: $staticMobileTopPadding 0 0 0;
  }

  .AuthorPhotoNameContainer {
    //* Контейнер для изображения и названия артиста
    margin: $staticMobileBigPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorPhotoWrapper {
    //* Контейнер для изображения артиста
    width: 100px;
  }

  .AuthorTitleWrapper {
    //* Контейнер для названия страницы
    margin: 0 $staticMobileSmallPadding 0;
    height: 100px;
  }

  .AuthorLink {
    //* Ссылка на страницу артиста
    font-size: 14px;
  }

  .AuthorNavBarTwoSection {
    margin: $staticMobileMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorNavBarWrapper {
    p {
      font-size: 18px;
    }
  }
  .PostsNavBarLeft {
    margin: 0 $staticMobileSmallPadding 0 0;
  }

  .NavBarSeparator {
    //* Разделитель между кнопками навигации
    height: 18px;
  }

  .AuthorsNavBarRight {
    margin: 0 0 0 $staticMobileSmallPadding;
  }

  .AuthorPostsListsWrapper {
    margin: $staticMobileMediumPadding $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
  }

  .AuthorPostsLists {
    margin: 0 0 $staticMobileMediumPadding 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .AuthorPostsListsImage {
    margin: 0 auto;
  }

  .AuthorPostsListsImage {
    // Стили для изображения карточки
    aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .AuthorPostsListsTitle {
    // Стили для обертки заголовка карточки
    margin: $staticMobileSmallPadding 0 0 0;
    font-size: 16px;
    height: calc(16px * 2);
  }

  .AuthorPostsListsContentWrapper {
    // Стили для обертки описания карточки
    margin: $staticMobileSmallPadding 0 0 0;
    height: calc(18px * 3);
  }

  .AuthorPostsListsContent {
    // Стили для описания карточки
    line-height: 18px;
    font-size: 14px;
  }

  .cardClockAndDateInner {
    margin: $staticMobileSmallPadding 0 0 0;
  }

  .cardClockAndDateInner {
    // Стили для обертки даты и времени карточки
    font-size: 14px;
  }

  .cardDateWrapper {
    // Стили для обертки даты
    margin: 0 0 0 $staticMobileSmallPadding;
  }

  .cardTimeWrapper {
    // Стили для обертки даты
    margin: 0 0 0 $staticMobileSmallPadding;
  }
}
