@use "@styles/utilities/variables.scss";

.letter {
  display: inline-block;
  width: 27px;
  height: 30px;
  font-size: 16px;
  word-break: normal;
  border: 1px solid;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;

  &.selected {
    background-color: variables.$dark;
    color: variables.$main;
  }
}

.LetterForCreatorWrapper {
  // Контейнер для буквы
  margin: variables.$responsiveMediumPadding variables.$responsiveMediumPadding
    0 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid variables.$red;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.LetterForCreator {
  // Буква
  color: variables.$red;
}
