@import "/src/styles/utilities/variables.scss";

.mainPageNewsContainer {
    // Стили для основного контейнераконтейнера
    display: flex;
    flex-direction: column;
    margin: calc(72px - (41 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    padding: 0 calc(60 / 1440 * 100vw);
    font-family: $default-font;
}

.mainPageNewsTitleWithButton {
    // Стили для контейнера заголовка и кнопки
    padding: 0 calc(10 / 1440 * 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPageNewsTitle {
    // Стили для заголовка
    font-family: $default-font;
    font-weight: 600;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	text-transform: uppercase;
}

.mainPageNewsButtonWrapper {
    // Стили для обертки кнопки
}

.desktopButtonWrapper {
    // Дополнительные стили для обертки кнопки на десктопе
}

.mobileButtonWrapper {
    // Дополнительные стили для обертки кнопки на мобильных устройствах
    display: none;
}

.mainPageNewsButton {
    // Стили для кнопки
    padding: 0 calc(0 / 1440 * 100vw);
    width: calc(238px - (105 * ((1440px - 100vw) / (1440 - 375))));
    height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 163px;
    min-height: 40px;
    max-width: 238px;
    max-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
    background-color: #fff;
    cursor: pointer;
}

.mainPageNewsButtonTitle {
    // Стили для текста кнопки
    margin: 0 calc(12px - (2 * ((1440px - 100vw) / (1440 - 375)))) 0 0;
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
}

.mainPageNewsButtonImg {
    // Стили для изображения кнопки
    width: 30px;
    height: 30px;
}

.mainPageNewsCardsWrapper {
    // Стили для обертки карточек новостей
    margin: calc(37px - (15 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    justify-content: space-between;
}

.mainPageNewsCard {
    // Стили для карточки новостей
    padding: 0 calc(10 / 1440 * 100vw);
    width: 48.46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thirdCard {
    // Дополнительные стили для второй карточки
    display: none;
}

.cardInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardImgWrapper {
    // Стили для обертки изображения карточки
    aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    overflow: hidden;
}

.cardImg {
    // Стили для изображения карточки
    aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.cardTextWrapper {
    // Стили для обертки текста карточки
    margin: calc(26px - (9 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    flex-direction: column;
}

.cardTitleWrapper {
    // Стили для обертки заголовка карточки
    display: block;
    font-family: $default-font;
    font-weight: 500;
    font-size: calc(22px - (6 * ((1440px - 100vw) / (1440 - 375))));
    height: calc(calc(22px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 2); // Делаем ограничение вывода текста построчечно
    overflow: hidden;
	text-transform: uppercase;
}

.cardDescriptioneWrapper {
    // Стили для обертки описания карточки
    margin: calc(18px - (9 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    height: calc(calc(20px - (2 * ((1440px - 100vw) / (1440 - 375)))) * 3); // Делаем ограничение вывода текста построчечно
    overflow: hidden;
}

.cardDescription {
    // Стили для описания карточки
    font-family: $default-font;
    font-weight: 400;
    line-height: calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
    font-size: calc(16px - (2 * ((1440px - 100vw) / (1440 - 375))));
}

.cardClockAndDateWrapper {
    // Стили для обертки даты и времени карточки
    margin: auto 0 0 0;
    display: flex;
    justify-content: space-between;
}

.cardClockAndDateInner {
    display: flex;
    align-items: center;
}

.cardClockImgWrapper {
    // Стили для обертки изображения часов
    display: flex;
}

.cardClockImg {
    // Стили для изображения часов
}

.cardDateWrapper {
    // Стили для обертки даты
    margin: 0 0 0 calc(10px - (3 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
}

.cardDateWrapper .cardClockImg {
    // Стили для текста даты
}

.cardReadMoreWrapper {
    // Стили для обертки ссылки "Читати далi"
    margin: calc(10px - (5 * ((1440px - 100vw) / (1440 - 375)))) 0 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cardReadMoreLink {
    // Стили для ссылки "Читати далi"
    cursor: pointer;
    color: #d83934;
}

@media (min-width: 1920px) {
    .mainPageNewsContainer {
        // Стили для основного контейнераконтейнера
        margin: 72px 0 0 0;
    }

    .mainPageNewsCard {
        // Стили для карточки новостей
        width: 32.81%;
    }

    .thirdCard {
        // Дополнительные стили для второй карточки
        display: flex;
        flex-direction: column;
    }

    .cardTitleWrapper {
        // Стили для обертки заголовка карточки
        font-size: 22px;
        height: calc(22px * 2 - 1px); // Делаем ограничение вывода текста построчечно
    }
    
    .cardDescriptioneWrapper {
        // Стили для обертки описания карточки
        margin: 18 0 0 0;
        height: calc(20px * 3); // Делаем ограничение вывода текста построчечно
    }

    .cardDescription {
        // Стили для описания карточки
        line-height: 20px;
        font-size: 16px;
    }
}

@media (min-width: 1439px) {
    .mainPageNewsTitle {
        // Стили для заголовка
        font-size: 28px;
    }

    .mainPageNewsButton {
        // Стили для кнопки
        border-radius: 34px;
    }

    .mainPageNewsButtonTitle {
        // Стили для текста кнопки
        margin: 0 12px 0 0;
        font-size: 16px;
    }

    .mainPageNewsCardsWrapper {
        // Стили для обертки карточек новостей
        margin: 37px 0 0 0;
    }

    .cardTextWrapper {
        // Стили для обертки текста карточки
        margin: 26px 0 0 0;
    }

    .cardTitleWrapper {
        // Стили для обертки заголовка карточки
        font-size: 22px;
    }

    .cardDescriptioneWrapper {
        // Стили для обертки описания карточки
        margin: 18px 0 0 0;
    }

    .cardDescription {
        // Стили для описания карточки
        font-size: 16px;
    }

    .cardClockAndDateWrapper {
        // Стили для обертки даты и времени карточки
        margin: 18px 0 0 0;
    }

    .cardDateWrapper {
        // Стили для обертки даты
        margin: 0 0 0 10px;
    }
}

@media (max-width: 799px) {
    .mainPageNewsCardsWrapper {
        // Стили для обертки карточек новостей
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .mainPageNewsCard {
        // Стили для карточки новостей
        margin: 33px 0 0 0;
        width: 100%;
    }

    .cardImg {
        // Стили для изображения карточки
        height: 100%;
    }

    .desktopButtonWrapper {
        // Дополнительные стили для обертки кнопки на десктопе
        display: none;
    }

    .mobileButtonWrapper {
        // Дополнительные стили для обертки кнопки на мобильных устройствах
        margin: 33px 0 0 0;
        display: flex;
        justify-content: center;
    }
}
