@use '../../../styles/utilities/variables.scss';

.profile {
	/* Основной контейнер профиля */
	display: flex;
	flex-direction: row;
	padding: variables.$responsiveTopPadding variables.$responsiveLeftAndRightPadding 0 0;
	width: 100%;
	min-height: calc(100dvh - 234px);
	background: white;
	color: black;
	font-family: variables.$default-font;
}

@media (min-width: 1441px) {
	.profile {
		/* Основной контейнер профиля */
		padding: variables.$staticPcTopPadding variables.$responsiveLeftAndRightPadding 0 0;
    }
}