@use '@styles/utilities/variables.scss';

.profileActions {
	/* Контейнер для верхних кнопок */
	margin: 0 0 calc(-1 * variables.$responsiveMediumPadding) 0;
	padding: 0 variables.$responsiveLeftAndRightPadding;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	background: #000;
}

.profileAction {
	/* Стиль для каждой кнопки действия */
	margin: variables.$responsiveMediumPadding 0 0 0;
	min-width: fit-content;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	cursor: pointer;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
	color: #fff;
	white-space: nowrap;
}

.profileAction {
	/* Стиль для каждой кнопки действия */
	margin: variables.$responsiveMediumPadding 0 0 0;
	min-width: fit-content;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	cursor: pointer;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
	color: #fff;
	white-space: nowrap;

	&:last-child {
		/* Стиль для последней кнопки действия */
		margin: variables.$responsiveBigPadding 0 0 0;
	}
}

.profileAction:hover {
	// background: #3a8374;
	color: #fff;
	transition: 0.4s ease;
}

.profileAction:not(:hover) {
	transition: 0.4s ease;
}

.profileActionActive {
	// background: #3a8374;
	color: #fff;
	border: none;
}

@media (min-width: 1441px) {
	.profileActions {
		/* Контейнер для верхних кнопок */
		margin: 0 0 calc(-1 * variables.$staticPcMediumPadding) 0;
	}
}

@media (max-width: 569px) {
	.profileActions {
		/* Контейнер для верхних кнопок */
		margin: 0 0 calc(-1 * variables.$staticMobileMediumPadding) 0;
	}

}