.LikeAndShareFixed {
    // Обёртка кнопок Like и Share
    width: 177px !important;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 569px) {
    .LikeAndShareFixed {
        // Обёртка кнопок Like и Share
        width: 80px !important;
    }
}