@use "@styles/utilities/variables.scss";

.ItemDetailContainer {
  // главный контейнер
  margin: variables.$responsiveTopPadding variables.$responsiveLeftAndRightPadding 0
    variables.$responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;

  * {
    font-family: variables.$default-font;
  }
}

.ItemPageNavigationContainer {
  // контейнер для навигации
  display: flex;
  width: 100%;
}

.ItemPageNavigation {
  // навигационный блок
  margin: variables.$responsiveBigPadding 0 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.ItemPageNavigationList {
  // список навигации
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemPageNavigationItem {
  // элемент списка навигации
  display: flex;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}

.ItemPageNavigationItemSeparator {
  // разделитель между элементами списка навигации
  margin: 0 variables.$responsiveMediumPadding;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: variables.$red;
  user-select: none;
}

.ItemDetailTopContainer {
  // Верхний контейнер с изображением
  margin: variables.$responsiveMediumPadding variables.$responsiveLeftAndRightPadding 0
    variables.$responsiveLeftAndRightPadding;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 53dvh;
}

.ItemDetailImageContainer {
  // Контейнер изображения
  display: flex;
  justify-content: center;
}

.ItemDetailImageWrapper {
  // Обертка для изображения
  display: flex;
  height: 50%;
  width: 50%;
}

.ItemDetailBottomImage {
  // Само изображение
  display: flex;
}

.ItemDetailZoomButtonWrapper {
  // Обертка кнопки увеличения изображения
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 80px;
  top: 10px;
}

.ItemDetailZoomButton {
  // Кнопка увеличения изображения
  display: flex;
}

.ItemDetailBottomContainer {
  // Нижний контейнер с деталями
  display: flex;
  margin: variables.$responsiveSmallPadding 0 0 0;
  justify-content: space-between;
}

.ItemDetailLeftContainer {
  // Левая часть (название, инфо о картине)
  display: flex;
  flex-direction: column;
  padding: 0 variables.$responsiveLeftAndRightPadding 0 0;
}

.ItemDetailTitleWrapper {
  // Обертка заголовка
  display: flex;
}

.ItemDetailTitle {
  // Заголовок картины
  display: flex;
}

.ItemDetailDateOfCreationWrapper {
  // Обертка даты создания
  display: flex;
}

.ItemDetailDateOfCreation {
  // Дата создания
  display: flex;
}

.ItemDetailAboutContainer {
  // Контейнер с доп. информацией
  display: flex;
  flex-direction: column;
}

.ItemDetailArtistNameWrapper {
  // Обертка имени художника
  display: flex;
}

.ItemDetailArtistName {
  // Лейбл "Митець"
  display: flex;
}

.ItemDetailArtistNameValue {
  // Имя художника
  display: flex;
  cursor: pointer;
}

.ItemDetailSizeWrapper {
  // Обертка размеров картины
  display: flex;
}

.ItemDetailSize {
  // Лейбл "Розмір"
  display: flex;
}

.ItemDetailSizeValue {
  // Значение размеров
  display: flex;
}

.ItemDetailStileWrapper {
  // Обертка стиля
  display: flex;
}

.ItemDetailStile {
  // Лейбл "Стиль"
  display: flex;
}

.ItemDetailStileValue {
  // Значение стиля
  display: flex;
}

.ItemDetailOriginalTitleWrapper {
  // Обертка оригинального названия
  display: flex;
}

.ItemDetailOriginalTitle {
  // Лейбл "Оригінальна назва"
  display: flex;
}

.ItemDetailOriginalTitleValue {
  // Оригинальное название
  display: flex;
}

.ItemDetailTechniqueWrapper {
  // Обертка техники
  display: flex;
}

.ItemDetailTechnique {
  // Лейбл "Техніка"
  display: flex;
}

.ItemDetailTechniqueValue {
  // Значение техники
  display: flex;
}

.ItemDetailRightContainer {
  // Правая часть с описанием
  display: flex;
  flex-direction: column;
  padding: 0 0 0 variables.$responsiveLeftAndRightPadding;
}

.ItemDetailDescriptionWrapper {
  // Обертка описания
  display: flex;
}

.ItemDetailDescription {
  // Описание картины
  display: flex;
}

.ItemDetailReadMoreButton {
  // Кнопка "Читать далее"
  display: flex;
}
