@use "@styles/utilities/variables.scss";

.ItemDetailContainer {
  // главный контейнер
  margin: variables.$responsiveTopPadding
    variables.$responsiveLeftAndRightPadding 0
    variables.$responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;

  * {
    font-family: variables.$default-font;
  }
}

.ItemPageNavigationContainer {
  // контейнер для навигации
  display: flex;
  width: 100%;
}

.ItemPageNavigation {
  // навигационный блок
  margin: variables.$responsiveMediumPadding 0 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.ItemPageNavigationList {
  // список навигации
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemPageNavigationItem {
  // элемент списка навигации
  display: flex;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  text-transform: uppercase;
}

.ItemPageNavigationItemSeparator {
  // разделитель между элементами списка навигации
  margin: 0 variables.$responsiveMediumPadding;
  font-size: calc(18px - (4 * ((1440px - 100vw) / (1440 - 375))));
  font-weight: 500;
  color: variables.$red;
  user-select: none;
}

.ItemDetailTopContainer {
  // Верхний контейнер с изображением
  margin: variables.$responsiveMediumPadding 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemDetailImageContainer {
  // Контейнер изображения
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemDetailImageWrapper {
  // Обертка для изображения
  position: relative;
  margin: 0 variables.$responsiveMediumPadding
    variables.$responsiveMediumPadding variables.$responsiveMediumPadding;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 75dvh;
    object-fit: contain;
    object-position: center center;
  }
}

.ItemDetailZoomButtonWrapper {
  // Обертка кнопки увеличения изображения
  position: absolute;
  right: calc(-1 * variables.$responsiveSmallPadding);
  bottom: calc(-1 * variables.$responsiveSmallPadding);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.ItemDetailZoomButtonWrapper:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s;
}

.ItemDetailZoomButtonWrapper:not(:hover) {
  scale: 1;
  transition: 0.3s;
}

.ItemDetailZoomButton {
  // Кнопка увеличения изображения
  display: flex;
}

.ItemDetailBottomContainer {
  // Нижний контейнер с деталями
  display: flex;
  justify-content: space-between;
}

.ItemDetailLeftContainer {
  // Левая часть (название, инфо о картине)
  display: flex;
  flex-direction: column;
  width: 20%;
}

.ItemDetailTitleWrapper {
  // Обертка заголовка
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  p {
    font-size: calc(18px + 6 * (100vw / 1440));
  }
}

.ItemDetailTitle {
  // Заголовок картины
  display: flex;
}

.ItemDetailDateOfCreationWrapper {
  // Обертка даты создания
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
}

.ItemDetailDateOfCreation {
  // Дата создания
  display: flex;
}

.ItemDetailAboutContainer {
  // Контейнер с доп. информацией
  display: flex;
  flex-direction: column;
}

.ItemDetailArtistNameWrapper {
  // Обертка имени художника
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.ItemDetailArtistName {
  // Лейбл "Митець"
  display: flex;
}

.ItemDetailArtistNameValue {
  // Имя художника
  display: flex;
  cursor: pointer;
}

.ItemDetailSizeWrapper {
  // Обертка размеров картины
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.ItemDetailSize {
  // Лейбл "Розмір"
  display: flex;
}

.ItemDetailSizeValue {
  // Значение размеров
  display: flex;
}

.ItemDetailStileWrapper {
  // Обертка стиля
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.ItemDetailStile {
  // Лейбл "Стиль"
  display: flex;
}

.ItemDetailStileValue {
  // Значение стиля
  display: flex;
  flex-direction: column;
}

.ItemDetailOriginalTitleWrapper {
  // Обертка оригинального названия
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.ItemDetailOriginalTitle {
  // Лейбл "Оригінальна назва"
  display: flex;
}

.ItemDetailOriginalTitleValue {
  // Оригинальное название
  display: flex;
}

.ItemDetailTechniqueWrapper {
  // Обертка техники
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
  flex-direction: column;
}

.ItemDetailTechnique {
  // Лейбл "Техніка"
  display: flex;
}

.ItemDetailTechniqueValue {
  // Значение техники
  display: flex;
}

.ItemDetailRightContainer {
  // Правая часть с описанием
  margin: 0 0 0 variables.$responsiveLeftAndRightPadding;
  display: flex;
  flex-direction: column;
}

.ItemDetailDescriptionWrapper {
  // Обертка описания
  margin: variables.$responsiveSmallPadding 0 0 0;
  display: flex;
}

.ItemDetailDescription {
  // Описание картины
  display: flex;
}

.ItemDetailReadMoreButton {
  // Кнопка "Читать далее"
  display: flex;
}
