@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.productCreate {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: $default-font;
	margin: $responsiveMediumPadding 0 $responsiveMediumPadding $responsiveLeftAndRightPadding;

	.productCreateTitle {
		font-weight: 600;
		font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
		text-transform: uppercase;
	}
}

.modalTextWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.modalFieldUk {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.modalFieldEn {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 $responsiveBigPadding;
}

.profileLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 700;
	margin: $responsiveMediumPadding 0 0 0;
}

input[type='text'] {
	width: 100%;
	max-width: none;
	height: 1en;
	padding: 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: normal;
	border: 1px solid #ddd;
	margin: $responsiveSmallPadding 0 0 0;
}

textarea {
	text-rendering: auto;
	color: fieldtext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	cursor: text;
	overflow-wrap: break-word;
	background-color: field;
	column-count: initial !important;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-image: initial;
	white-space: pre-wrap;
	width: 100%;
	max-width: none;
	min-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))))*3);
	max-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))))*7);
	height: 100%;
	margin: $responsiveSmallPadding 0 0 0 !important;
	padding: 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-family: $default-font;
	resize: none;
}

.serverMessage {
	margin: $responsiveBigPadding 0 0 0;
	color: $red;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='file'] {
	width: 100%;
	max-width: none;
	height: 1en;
	padding: 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: normal;
	border: 1px solid #ddd;
	margin: $responsiveSmallPadding 0 0 0 !important;
}

.imagePreviews {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: $responsiveSmallPadding 0 0 0;

	.previewImage {
		width: 20%;
		object-fit: cover;
		border-radius: 10px;
	}
}

button[type='submit'] {
	width: fit-content;
	max-width: none;
	margin: $responsiveMediumPadding auto 0 auto;
	padding: 0 $staticButtonLeftAndRightPadding;
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-height: 40px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
	background-color: $turquoise;
	cursor: pointer;
}