@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

// .profile {
// 	/* Основной контейнер профиля */
// 	display: flex;
// 	flex-direction: column;
// 	padding: $responsiveTopPadding $responsiveLeftAndRightPadding 0;
// 	width: 100%;
// 	min-height: calc(100dvh - 234px);
// 	background: white;
// 	color: black;
// }

// .profileActions {
// 	/* Контейнер для верхних кнопок */
// 	display: flex;
// 	justify-content: start;
// 	align-items: center;
// 	flex-wrap: wrap;
// }

// .profileAction {
// 	/* Стиль для каждой кнопки действия */
// 	margin: 10px calc(20px - (10 * ((1440px - 100vw) / (1440 - 375)))) 0 0;
// 	padding: 0 calc(20px - (10 * ((1440px - 100vw) / (1440 - 375))));
// 	// width: calc(238px - (105 * ((1440px - 100vw) / (1440 - 375))));
// 	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
// 	// min-width: 163px;
// 	min-width: fit-content;
// 	min-height: 40px;
// 	// max-width: 238px;
// 	max-height: 51px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
// 	background-color: rgb(207, 207, 207);
// 	cursor: pointer;
// 	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
// 	font-weight: 500;
// }

// .profileAction:hover {
// 	background: #3a8374;
// 	color: #fff;
// 	transition: 0.4s ease;
// }

// .profileAction:not(:hover) {
// 	transition: 0.4s ease;
// }

// .profileActionActive {
// 	background: #3a8374;
// 	color: #fff;
// 	border: none;
// }

.exhibitionsContainer {
	padding: 20px;
}

.exhibitionList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.exhibitionCard {
	border: 1px solid #ccc;
	padding: 15px;
	width: 300px;
}

.exhibitionImage {
	width: 100%;
	height: auto;
}

.detailsButton {
	margin-top: 10px;
	padding: 8px 12px;
	background-color: #007bff;
	color: #fff;
	border: none;
}
