@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.profileAddPostContainer {
    /* Контейнер для формы добавления публикации */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-family: $default-font;
    color: black;
    margin: 33px 0;
}

.profileAddPostTitle {
    /* Стиль заголовка формы */
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-transform: uppercase;
}

.profileAddPostForm {
    /* Стиль формы добавления публикации */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.profileAddPostField {
    /* Контейнер для каждого поля ввода формы */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:30px 0 0 0;
}

.profileAddPostLabel {
    /* Стиль для меток полей ввода */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: calc(22px - (6 * ((1440px - 100vw) / (1440 - 375))));
    line-height: 150%;
    font-weight: 500;
    font-family: $default-font;

    b {
        font-weight: 700;
    }
}

.profileAddPostInput {
    /* Стиль текстовых полей ввода */
    display: flex;
    width: 100%;
    font-size: calc(20px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: normal;
    font-family: $default-font;
}

.remainingChars {
    /* Стиль для оставшихся символов */
    width: 100%;
    font-size: calc(12px - (2 * ((1440px - 100vw) / (1440 - 375))));
	color: #d83934;
    font-family: $default-font;
}

.profileAddPostTextarea {
    /* Стиль для текстовых областей */
    width: 100%;
    /* или любая нужная ширина */
    min-height: 50px;
    /* Минимальная высота */
    resize: none;
    /* Отключаем возможность ручного изменения размера */
    overflow-y: hidden;
    /* Скрываем вертикальный скролл */
    padding: 5px;
    font-family: $default-font;
    font-size: calc(18px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: normal;
    min-height: 300px;
    border-radius: 5px;
}

.profileAddPostFileInput {
    /* Стиль для поля загрузки файла */
}

.profileAddPostButton {
    /* Стиль для кнопки редактирования */
    margin: 20px calc(20px - (10 * ((1440px - 100vw) / (1440 - 375)))) 0 0;
	padding: 0 calc(20px - (10 * ((1440px - 100vw) / (1440 - 375))));
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
    min-width: fit-content;
	min-height: 40px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background-color: #3A8374;
    color: #fff;
	cursor: pointer;
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 500;
}

.profileAddPostButton:hover {
    background: #d83934;
    // color:black;
    border: none;
    transition: 0.4s ease;
}

.profileAddPostButton:not(:hover) {
    transition: 0.4s ease;
}

@media (min-width: 1441px) {

    .profileAddPostTitle {
        /* Стиль заголовка формы */
        font-size: 28px;
    }

    .profileAddPostTextarea {
        font-size: 18px;
    }
}