@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.userProfilePostsContainer {
	/* Контейнер для карточек публикаций */
	width: 100%;
	font-family: $default-font;
	margin: $responsiveMediumPadding 0 $responsiveMediumPadding $responsiveLeftAndRightPadding;
}

.userProfilePostsWrapper {
	/* Контейнер для карточек публикаций */
	margin: $responsiveMediumPadding 0 0 0;
	display: flex;
	flex-direction: column;
}

.userProfilePostsPicAndTextWrapper {
	/* Обертка для изображения и текста публикации */
	display: flex;
}

.userProfilePostsPicWrapper {
	/* Обертка для изображения публикации */
	display: inline-block;
	width: fit-content;
	height: fit-content;
	max-width: max-content;
	max-height: max-content;
}

.userProfilePostsPic {
	/* Стили для изображения публикации */
	display: block;
	object-fit: contain;
	object-position: center top;
	border-radius: 10px;
	max-width: 300px;
	max-height: 300px;
}

.userProfilePostsTextWrapper {
	/* Обертка для текста публикации */
	margin: 0 0 0 $responsiveMediumPadding;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.userProfilePostsTitleWrapper {
	/* Обертка для заголовка публикации */
	display: flex;
	justify-content: start;
}

.userProfilePostsTitle {
	/* Стили для заголовка публикации */
	font-weight: 600;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
}

.userPageLoadingMessage {
	/* Стили для сообщения о загрузке */
	margin: $responsiveMediumPadding 0 0 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 400;
}

.userPageErrorMessage {
	/* Стили для сообщения об ошибке */
	margin: $responsiveMediumPadding 0 0 0;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 400;
}

.userProfilePostsDescriptionWrapper {
	/* Обертка для описания публикации */
	margin: $responsiveSmallPadding 0 auto 0;
	display: flex;
	justify-content: start;
	max-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375)))) * 11); // Делаем ограничение вывода текста построчечно
	overflow: hidden;
}

.userProfilePostsDescription {
	/* Стили для описания публикации */
	font-weight: 400;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	max-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375)))) * 3); // Делаем ограничение вывода текста построчечно
	overflow: hidden;
}

.userProfilePostsClockDateAndButtonWrapper {
	/* Обертка для часов, даты и кнопки */
	margin: $responsiveSmallPadding 0 auto 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userProfilePostsClockAndDateWrapper {
	/* Обертка для часов и даты */
	margin: $responsiveMediumPadding 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userProfilePostsClock {
	/* Стили для изображения часов */
	display: flex;
	width: 20px;
	height: 20px;
}

.userProfilePostsDate {
	/* Стили для даты публикации */
	margin: 0 0 0 $responsiveSmallPadding;
	font-weight: 400;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
}

.userProfilePostsButton {
	/* Стили для кнопки публикации */
	margin: 0 0 0 auto;
	font-weight: 400;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background: none;
	border: none;
	cursor: pointer;
	color: $red;
}

.userProfileDelEditWrapper {
	/* Обертка для кнопок редактирования и удаления */
	margin: $responsiveMediumPadding 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userProfileEditButton {
	/* Стили для кнопки редактирования */
	padding: 0 $staticButtonLeftAndRightPadding;
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-height: 40px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background-color: #fff;
	cursor: pointer;
}

.userProfileDeleteButton {
	/* Стили для кнопки редактирования */
	margin: 0 0 0 $responsiveMediumPadding;
	padding: 0 $staticButtonLeftAndRightPadding;
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-height: 40px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $red;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background-color: #fff;
	color: $red;
	cursor: pointer;
}

.userProfileDelEditWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.modalOverlay {
	/* Стили для фона модального окна */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	/* Стили для модального окна */
	position: relative;
	margin: auto auto;
	background-color: #fff;
	padding: $responsiveBigPadding;
	border-radius: 10px;
	width: 90%;
	height: auto;
	max-height: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.modalInput {
		/* Стили для поля ввода */
		margin: $responsiveSmallPadding 0 0 0;
		width: 100%;
		max-width: none;
		height: 1en;
		padding: 0;
		font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
		border: 1px solid #ddd;
		font-weight: 400;
	}

	.modalTextarea {
		/* Стили для поля ввода */
		margin: $responsiveSmallPadding 0 0 0;
		text-rendering: auto;
		color: fieldtext;
		letter-spacing: normal;
		word-spacing: normal;
		line-height: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: start;
		appearance: auto;
		-webkit-rtl-ordering: logical;
		cursor: text;
		overflow-wrap: break-word;
		background-color: field;
		column-count: initial !important;
		border-width: 1px;
		border-style: solid;
		border-color: #ddd;
		border-image: initial;
		white-space: pre-wrap;
		width: 100%;
		max-width: none;
		min-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))))*3);
		max-height: calc(calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))))*7);
		height: 100%;
		padding: 0;
		font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
		font-family: $default-font;
		resize: none;
	}
}

.modalTitleAndCloseButtonWrapper {
	/* Обертка для заголовка и кнопки закрытия модального окна */
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalTitle {
	/* Заголовок модального окна */
	width: 100%;
	text-align: start;
	font-size: calc(28px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 700;
	text-transform: uppercase;
}

.modalCancelButton {
	//кнопка закрытия модального окна
	display: flex;
	padding: 0;
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	font-size: 51px;
	line-height: 30px;
	font-weight: 900;
}

.modalForm {
	/* Обертка для формы */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.modalFormWrapper {
	/* Внутренняя обертка для формы */
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.modalFieldUk {
	/* Укр блок */
	margin: $responsiveSmallPadding 0 0 0;
	width: 100%;
	height: 100%;
}

.modalFieldEn {
	/* Англ блок */
	margin: $responsiveSmallPadding 0 0 $responsiveBigPadding;
	width: 100%;
	height: 100%;
}

.modalField {
	/* Обертка для полей формы */
	width: 100%;
}

.modalFieldImageUploadWrapper {
	margin: $responsiveMediumPadding 0 0 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.modalFieldImage {
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.modalLabelUploadContainer {
			display: flex;
			flex-direction: column;
			font-weight: bold;
			align-items: center;
			margin: 0 auto;
			width: 70%;
		}

		.modalInputImageField {
			margin: $responsiveSmallPadding 0 0 0;
			position: relative;
			width: 100%;
			font-weight: normal;
		}
	}
}

.modalLabel {
	/* Стили для подписей полей формы */
	margin: $responsiveSmallPadding 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 700;
}

.remainingCharsWrapper {
	/* Обертка для оставшихся символов */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.remainingChars {
	/* Стили для оставшихся символов */
	margin: $responsiveSmallPadding 0 0 auto;
	font-size: calc(14px - (4 * ((1440px - 100vw) / (1440 - 375))));
	color: $secondary-color;
}

.modalButtons {
	/* Обертка для кнопок */
	display: flex;
	justify-content: center;
	align-items: center;

	.modalSaveButton {
		/* Стили для кнопки сохранения */
		width: fit-content;
		max-width: none;
		margin: $responsiveMediumPadding 0 0 auto;
		padding: 0 $staticButtonLeftAndRightPadding;
		height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
		min-height: 40px;
		max-height: 51px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
		font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
		font-weight: 500;
		background-color: $turquoise;
		cursor: pointer;
	}

	.modalCancelButton {
		/* Стили для кнопки закрытия модального окна */
		padding: 0.5rem 1rem;
		background-color: #f44336;
		color: #fff;
		border: none;
		cursor: pointer;
		border-radius: calc((16 / 1440 * 100vw) / 2);
	}
}

.currentImage {
	/* Обертка для изображения */
	width: 15%;
	margin-top: $responsiveSmallPadding;
	border-radius: 10px;
}

@media (min-width: 1441px) {
	.userProfilePostsContainer {
		/* Контейнер для карточек публикаций */
		margin: $staticPcMediumPadding 0 $staticPcMediumPadding $responsiveLeftAndRightPadding;
	}

	.userProfilePostsWrapper {
		/* Контейнер для карточек публикаций */
		margin: $staticPcMediumPadding 0 0 0;
	}

	.userProfilePostsTextWrapper {
		/* Обертка для текста публикации */
		margin: 0 0 0 $staticPcMediumPadding;
	}

	.userProfilePostsTitle {
		/* Стили для заголовка публикации */
		font-size: 28px;
	}

	.userPageLoadingMessage {
		/* Стили для сообщения о загрузке */
		margin: $staticPcMediumPadding 0 0 0;
		font-size: 16px;
	}

	.userPageErrorMessage {
		/* Стили для сообщения об ошибке */
		margin: $staticPcMediumPadding 0 0 0;
		font-size: 16px;
	}

	.userProfilePostsDescriptionWrapper {
		/* Обертка для описания публикации */
		margin: $staticPcSmallPadding 0 auto 0;
		max-height: calc(16px * 11); // Делаем ограничение вывода текста построчечно
	}

	.userProfilePostsDescription {
		/* Стили для описания публикации */
		font-size: 16px;
		max-height: calc(16px * 3); // Делаем ограничение вывода текста построчечно
	}

	.userProfilePostsClockDateAndButtonWrapper {
		/* Обертка для часов, даты и кнопки */
		margin: $staticPcSmallPadding 0 auto 0;
	}

	.userProfilePostsClockAndDateWrapper {
		/* Обертка для часов и даты */
		margin: $staticPcMediumPadding 0 0 0;
	}

	.userProfilePostsDate {
		/* Стили для даты публикации */
		margin: 0 0 0 $staticPcSmallPadding;
		font-size: 16px;
	}

	.userProfilePostsButton {
		/* Стили для кнопки публикации */
		font-size: 16px;
	}

	.userProfileDelEditWrapper {
		/* Обертка для кнопок редактирования и удаления */
		margin: $staticPcMediumPadding 0 0 auto;
	}

	.userProfileEditButton {
		/* Стили для кнопки редактирования */
		padding: 0 $staticButtonLeftAndRightPadding;
		border-radius: 34px;
	}

	.userProfileDeleteButton {
		/* Стили для кнопки редактирования */
		margin: 0 0 0 $staticPcMediumPadding;
		padding: 0 $staticButtonLeftAndRightPadding;
		border-radius: 34px;
	}

	.modalContent {
		/* Стили для модального окна */
		padding: $staticPcBigPadding;

		.modalInput {
			/* Стили для поля ввода */
			margin: $staticPcSmallPadding 0 0 0;
			font-size: 16px;
		}

		.modalTextarea {
			/* Стили для поля ввода */
			margin: $staticPcSmallPadding 0 0 0;
			min-height: calc(16px*3);
			max-height: calc(16px*7);
			font-size: 16px;
		}
	}

	.modalTitle {
		/* Заголовок модального окна */
		font-size: 28px;
	}

	.modalFieldUk {
		/* Укр блок */
		margin: $staticPcSmallPadding 0 0 0;
	}

	.modalFieldEn {
		/* Англ блок */
		margin: staticPcSmallPadding 0 0 $staticPcBigPadding;
	}

	.modalFieldImageUploadWrapper {
		margin: $staticPcMediumPadding 0 0 0;

		.modalInputImageField {
			margin: $staticPcSmallPadding 0 0 0;
		}
	}

	.modalLabel {
		/* Стили для подписей полей формы */
		margin: $staticPcSmallPadding 0 0 0;
		font-size: 16px;
	}

	.remainingChars {
		/* Стили для оставшихся символов */
		margin: $staticPcSmallPadding 0 0 auto;
		font-size: 14px;
	}

	.modalButtons {
		/* Обертка для кнопок */

		.modalSaveButton {
			/* Стили для кнопки сохранения */
			margin: $staticPcMediumPadding 0 0 auto;
			padding: 0 $staticButtonLeftAndRightPadding;
			border-radius: 34px;
			font-size: 16px;
		}
	}

	.currentImage {
		/* Обертка для изображения */
		margin-top: $staticPcSmallPadding;
	}
}