@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.userProfilePostsContainer {
    /* Контейнер для карточек публикаций */
    font-family: $default-font;
    margin: 15px 0;
}

.userProfilePostsWrapper {
    /* Контейнер для карточек публикаций */
    margin: 33px 0;
    display: flex;
    flex-direction: column;
}

.userProfilePostsPicAndTextWrapper {
    /* Обертка для изображения и текста публикации */
    display: flex;
}

.userProfilePostsPicWrapper {
    /* Обертка для изображения публикации */
    display: inline-block;
    width: fit-content;
    height: fit-content;
    max-width: max-content;
    max-height: max-content;
}

.userProfilePostsPic {
    /* Стили для изображения публикации */
    display: block;
	object-fit: contain;
	object-position: center top;
    border-radius: 3px;
    max-width: 300px;
    max-height: 300px;
}

.userProfilePostsTextWrapper {
    /* Обертка для текста публикации */
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userProfilePostsTitleWrapper {
    /* Обертка для заголовка публикации */
    display: flex;
    justify-content: start;
	// max-height: calc(
	// 	28px * 2
	// ); // Делаем ограничение вывода текста построчечно
	// overflow: hidden;
}

.userProfilePostsTitle {
    /* Стили для заголовка публикации */
    font-weight: 600;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-transform: uppercase;
}

.userProfilePostsDescriptionWrapper {
    /* Обертка для описания публикации */
    margin: 10px 0 0 0;
    display: flex;
    justify-content: start;
	max-height: calc(
		18px * 11
	); // Делаем ограничение вывода текста построчечно
	overflow: hidden;
}

.userProfilePostsDescription {
    /* Стили для описания публикации */
    font-weight: 400;
    font-size: 18px;
}

.userProfilePostsClockDateAndButtonWrapper {
    /* Обертка для часов, даты и кнопки */
    margin: 10px 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfilePostsClockAndDateWrapper {
    /* Обертка для часов и даты */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfilePostsClock {
    /* Стили для изображения часов */
    display: flex;
	width: 20px;
	height: 20px;
}

.userProfilePostsDate {
    /* Стили для даты публикации */
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 18px;
}

.userProfilePostsButton {
    /* Стили для кнопки публикации */
    font-weight: 400;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
	color: #d83934;
}

@media (min-width: 1440px) {
    .userProfilePostsTitle {
        /* Стили для заголовка публикации */
        font-size: 28px;
    }
}

@media (max-width: 679px) {
    .userProfilePostsPicAndTextWrapper {
        /* Обертка для изображения и текста публикации */
        flex-wrap: wrap;
    }

    .userProfilePostsPicWrapper {
        /* Обертка для изображения публикации */
        width: 100%;
        margin: 0 auto;
    }

    .userProfilePostsPic {
        /* Стили для изображения публикации */
        width: 100%;
    }

    .userProfilePostsTextWrapper {
        /* Обертка для текста публикации */
        margin: 10px 0 0 0;
    }
}