@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.profileAddPostContainer {
    /* Контейнер для формы добавления публикации */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-family: $default-font;
    color: black;
    margin: 15px 0;
}

.profileAddPostTitle {
    /* Стиль заголовка формы */
    display: flex;
    font-weight: 600;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    text-transform: uppercase;
}

.profileAddPostForm {
    /* Стиль формы добавления публикации */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.profileAddPostField {
    /* Контейнер для каждого поля ввода формы */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileAddPostLabel {
    /* Стиль для меток полей ввода */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
}

.profileAddPostInput {
    /* Стиль текстовых полей ввода */
    display: flex;
    width: 100%;
    height: fit-content;
}

.profileAddPostTextarea {
    /* Стиль для текстовых областей */
}

.profileAddPostFileInput {
    /* Стиль для поля загрузки файла */
}

.profileAddPostButton {
    /* Стиль для кнопки сохранения */
}

@media (min-width: 1440px) {
    
    .profileAddPostTitle {
        /* Стиль заголовка формы */
        font-size: 28px;
    }
}