@use "/src/styles/components/UserProfile/userProfile.module.scss";
@import "/src/styles/utilities/variables.scss";

.errorMessages {
  color: red;
  margin-bottom: $responsiveSmallPadding;
}

.errorList {
  list-style-type: none;
  padding: 0;
}

.errorItem {
  margin-bottom: $responsiveSmallPadding;
}

.checkArtistWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkArtistItem {
  margin: $responsiveSmallPadding 0 0 0;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  label {
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    margin: 0 0 0 $responsiveSmallPadding;
  }
}

.checkboxLabel {
  cursor: pointer;
}

.formOption,
.artistOption {
  color: #000000;

  .key,
  .value {
    color: #000000;
  }
}

.formTextarea {
  height: 100px;
  resize: vertical;
}

.submitButton {
  padding: 0 $staticButtonLeftAndRightPadding;
  height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 40px;
  max-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 1441px) {
  .errorMessages {
    margin-bottom: $staticPcSmallPadding;
  }

  .errorItem {
    margin-bottom: $staticPcSmallPadding;
  }

  .checkArtistItem {
    margin: $staticPcSmallPadding 0 0 0;

    label {
      font-size: 16px;
      margin: 0 0 0 $staticPcSmallPadding;
    }
  }

  .submitButton {
    border-radius: 34px;
  }
}

// Search block definition style

.resultAuthorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  .resultAuthorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.resultPaintingsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .resultPaintingsImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.formFileInput {
  /* Your styles */
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  margin: $responsiveSmallPadding 0;
}

.searchResultItem {
  /* Your styles */
  display: flex;
}

.selectedObjectWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 20px;
  /* Your styles */
}

.chipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $responsiveSmallPadding 0;
}

.chipImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chipContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: calc(5 / 1440 * 100vw) 0 0 0;
  p {
    margin: calc(5 / 1440 * 100vw) 0;
  }
  button {
    margin: calc(2 / 1440 * 100vw) 0;
  }
}

.authorPaintings {
  /* Your styles */
}

.authorPaintingsDropdown {
  position: relative;
  width: 100%;
  margin-top: $responsiveSmallPadding;
}

.dropdownToggle {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.dropdownContent {
  position: absolute;
  max-width: calc(340px - (188 * ((1440px - 100vw) / (1440 - 375))));
  top: 100%;
  left: 0;
  margin-top: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px; // adjust as needed
  overflow-y: auto;
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  overflow-y: auto;
}

.chip {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(300px - (188 * ((1440px - 100vw) / (1440 - 375))));
}
.chipImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.chipRemoveButton {
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paintingsList {
  /* Your styles */
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-evenly;
  flex-wrap: wrap;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.paintingItem {
  /* Your styles */
  margin: $responsiveSmallPadding 10px;
  display: flex;

  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
  .paintingImage {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
  span {
    font-size: calc(16px + 6 * (100vw / 1440));
    margin: $responsiveSmallPadding 0;
  }

  // Optional: Add a border or shadow on hover
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.paintingImageContainer {
  position: relative;
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Style for the no paintings message */
.noPaintingsMessage {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.modalFooter {
  margin: $responsiveMediumPadding 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .modalSaveButton {
    display: flex;
    background-color: #3a8374;
    padding: 20px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    color: white;
  }
}

.tooltip {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  width: 100%;
}
.paintingImageContainer:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.selectedOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(58, 131, 116, 0.5); // Adjust color/opacity as needed
  pointer-events: none;
  border: 2px solid #3a8374;
}
