@use '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.exhibitionFormContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: $default-font;
	margin: $responsiveMediumPadding 0 $responsiveMediumPadding
		$responsiveLeftAndRightPadding;
}

.formTitle {
	font-weight: 600;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	text-transform: uppercase;
}

.errorMessages {
	color: red;
	margin-bottom: $responsiveSmallPadding;
}

.errorList {
	list-style-type: none;
	padding: 0;
}

.errorItem {
	margin-bottom: $responsiveSmallPadding;
}

.exhibitionForm {
	display: flex;
	flex-direction: column;
}

.formGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		margin: $responsiveSmallPadding 0 0 0;
	}
}

.modalTextWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}

.modalFieldUk {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.modalFieldEn {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 $responsiveBigPadding;
}

.formLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 700;
	margin: $responsiveMediumPadding 0 0 0;
}

.checkArtistWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.checkArtistItem {
	margin: $responsiveSmallPadding 0 0 0;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
	}

	label {
		font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
		font-weight: 500;
		margin: 0 0 0 $responsiveSmallPadding;
	}
}

.checkboxLabel {
	cursor: pointer;
}

.formOption,
.artistOption {
	color: #000000;

	.key,
	.value {
		color: #000000;
	}
}

.formTextarea {
	height: 100px;
	resize: vertical;
}

.submitButton {
	padding: 0 $staticButtonLeftAndRightPadding;
	height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
	min-height: 40px;
	max-height: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
	background-color: #fff;
	cursor: pointer;
}

@media (min-width: 1441px) {
	.exhibitionFormContainer {
		margin: $staticPcMediumPadding 0 $staticPcMediumPadding
			$responsiveLeftAndRightPadding;
	}

	.formTitle {
		font-size: 28px;
	}

	.errorMessages {
		margin-bottom: $staticPcSmallPadding;
	}

	.errorItem {
		margin-bottom: $staticPcSmallPadding;
	}

	.formGroup {
		input {
			margin: $staticPcSmallPadding 0 0 0;
		}
	}

	.modalFieldEn {
		margin: 0 0 0 $staticPcBigPadding;
	}

	.formLabel {
		font-size: 16px;
		margin: $staticPcMediumPadding 0 0 0;
	}

	.checkArtistItem {
		margin: $staticPcSmallPadding 0 0 0;

		label {
			font-size: 16px;
			margin: 0 0 0 $staticPcSmallPadding;
		}
	}

	.submitButton {
		border-radius: 34px;
	}
}

// Search block definition style

.resultAuthorWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	.resultAuthorImage {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}

.resultPaintingsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	.resultPaintingsImage {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}

.formFileInput {
	/* Your styles */
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	position: relative;
	margin: auto auto;
	background-color: #fff;
	padding: $responsiveBigPadding $responsiveLeftAndRightPadding;
	border-radius: 10px;
	width: 90%;
	height: auto;
	max-height: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.closeButton {
	/* Your styles */
}

.searchResults {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 10px;
}

.searchResultItem {
	/* Your styles */
	display: flex;
}

.selectedObjectWrapper {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	/* Your styles */
}

.chipContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chipImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.authorPaintings {
	/* Your styles */
}

.paintingsList {
	/* Your styles */
}

.paintingItem {
	/* Your styles */
}

.paintingImage {
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	overflow-y: auto;
}
.disabled {
	pointer-events: none;
	opacity: 0.6;
}

/* Style for the no paintings message */
.noPaintingsMessage {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
}
