@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.exhibitionFormContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-family: $default-font;
	margin: $responsiveMediumPadding 0 $responsiveMediumPadding $responsiveLeftAndRightPadding;

}

.formTitle {
	font-weight: 600;
	font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
	text-transform: uppercase;
}

.errorMessages {
	color: red;
	margin-bottom: 20px;
}

.errorList {
	list-style-type: none;
	padding: 0;
}

.errorItem {
	margin-bottom: 5px;
}

.exhibitionForm {
	display: flex;
	flex-direction: column;
}

.formGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalTextWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.modalFieldUk {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.modalFieldEn {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 $responsiveBigPadding;
}

.formLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
	font-weight: 700;
	margin: $responsiveMediumPadding 0 0 0;
}

.formInput,
.formTextarea,
.formFileInput {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.checkArtistWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem; /* Adjust spacing between checkboxes */
}

.checkArtistItem {
	display: flex;
	align-items: center;
	width: calc(202px - (166 * ((1440px - 100vw) / (1440 - 375))));
}

.checkboxLabel {
	cursor: pointer;
}

.formOption,
.artistOption {
	color: #000000;
	.key,
	.value {
		color: #000000;
	}
}

.formTextarea {
	height: 100px;
	resize: vertical;
}

.submitButton {
	padding: 10px 15px;
	background-color: #007bff; /* Adjust color as needed */
	color: #fff;
	border: none;
	cursor: pointer;
}

.submitButton:hover {
	background-color: #0056b3; /* Adjust hover color as needed */
}
