@use "/src/styles/components/UserProfile/userProfile.module.scss";
@import "/src/styles/utilities/variables.scss";

.errorMessages {
  color: red;
  margin-bottom: $responsiveSmallPadding;
}

.errorList {
  list-style-type: none;
  padding: 0;
}

.errorItem {
  margin-bottom: $responsiveSmallPadding;
}

.checkArtistWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkArtistItem {
  margin: $responsiveSmallPadding 0 0 0;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  label {
    font-size: calc(16px - (4 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    margin: 0 0 0 $responsiveSmallPadding;
  }
}

.checkboxLabel {
  cursor: pointer;
}

.formOption,
.artistOption {
  color: #000000;

  .key,
  .value {
    color: #000000;
  }
}

.formTextarea {
  height: 100px;
  resize: vertical;
}

.submitButton {
  padding: 0 $staticButtonLeftAndRightPadding;
  height: calc(51px - (11 * ((1440px - 100vw) / (1440 - 375))));
  min-height: 40px;
  max-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: calc(34px - (4 * ((1440px - 100vw) / (1440 - 375))));
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 1441px) {
  .errorMessages {
    margin-bottom: $staticPcSmallPadding;
  }

  .errorItem {
    margin-bottom: $staticPcSmallPadding;
  }

  .checkArtistItem {
    margin: $staticPcSmallPadding 0 0 0;

    label {
      font-size: 16px;
      margin: 0 0 0 $staticPcSmallPadding;
    }
  }

  .submitButton {
    border-radius: 34px;
  }
}

// Search block definition style

.resultAuthorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  .resultAuthorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.resultPaintingsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .resultPaintingsImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.formFileInput {
  /* Your styles */
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  margin: $responsiveSmallPadding 0;
}

.searchResultItem {
  /* Your styles */
  display: flex;
}

.selectedObjectWrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* Your styles */
}

.chipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $responsiveSmallPadding 0;
}

.chipImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chipContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $responsiveSmallPadding;
  p {
    margin: calc(5 / 1440 * 100vw) 0;
  }
  button {
    margin: calc(2 / 1440 * 100vw) 0;
  }
}

.authorPaintings {
  /* Your styles */
}

.paintingsList {
  /* Your styles */
}

.paintingItem {
  /* Your styles */
}

.paintingImage {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Style for the no paintings message */
.noPaintingsMessage {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
