@import '/src/styles/components/UserProfile/userProfile.module.scss';
@import '/src/styles/utilities/variables.scss';

.exhibitionFormContainer {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.formTitle {
	text-align: center;
	margin-bottom: 20px;
}

.errorMessages {
	color: red;
	margin-bottom: 20px;
}

.errorList {
	list-style-type: none;
	padding: 0;
}

.errorItem {
	margin-bottom: 5px;
}

.exhibitionForm {
	display: flex;
	flex-direction: column;
}

.formGroup {
	margin-bottom: 15px;
}

.formLabel {
	display: block;
	margin-bottom: 5px;
}

.formInput,
.formTextarea,
.formFileInput {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.formSelect {
	width: calc(202px - (166 * ((1440px - 100vw) / (1440 - 375))));
}

.formOption,
.artistOption {
	color: #000000;
	.key,
	.value {
		color: #000000;
	}
}

.formTextarea {
	height: 100px;
	resize: vertical;
}

.submitButton {
	padding: 10px 15px;
	background-color: #007bff; /* Adjust color as needed */
	color: #fff;
	border: none;
	cursor: pointer;
}

.submitButton:hover {
	background-color: #0056b3; /* Adjust hover color as needed */
}
