@import '/src/styles/utilities/variables.scss';

.popularInThisMuseumSliderContainer {
    // Контейнер слайдера
    display: flex;
    margin: calc(87px - (43 * ((1440px - 100vw) / (1440 - 375)))) $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
}

.popularInThisMuseumSliderWrapper {
    // Обёртка слайдера
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popularInThisMuseumSliderTopInnerWrapper {
    // Верхняя часть слайдера
    display: flex;
    justify-content: space-between;
    padding: 0 0 calc(51px - (17 * ((1440px - 100vw) / (1440 - 375)))) 0;
}

.popularInThisMuseumSliderTitleWrapper {
    // Обёртка заголовка
    display: flex;
    align-items: center;
}

.popularInThisMuseumSliderTitle {
    // Заголовок    
    font-family: $default-font;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.popularInThisMuseumSliderLikeAndShareWrapper {
    // Обёртка кнопок Like и Share
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 auto;
    width: 177px;
}

.popularInThisMuseumSliderLikeInnerWrapper {
    // Обёртка кнопки Like
}

.popularInThisMuseumSliderLikeButton {
    // Кнопка Like
    position: relative;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.popularInThisMuseumSliderLikeButton::after {
    content: "Like";
    position: absolute;
    top: 6px;
    left: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.popularInThisMuseumSliderLikeButtonImg {
    // Изображение кнопки Like
}

.popularInThisMuseumSliderShareInnerWrapper {
    // Обёртка кнопки Share
}

.popularInThisMuseumSliderShareButtonButton {
    // Кнопка Share
    position: relative;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}

.popularInThisMuseumSliderShareButtonButton::before {
    content: "Share";
    position: absolute;
    top: 6px;
    right: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.popularInThisMuseumSliderShareButtonImg {
    // Изображение кнопки Share
}

.popularInThisMuseumSliderBottomInnerWrapper {
    // Нижняя часть слайдера
    display: flex;
    width: 100%;
    height: calc(382px - (94 * ((1440px - 100vw) / (1440 - 375))));

    @at-root {
        :root {
            --swiper-navigation-size: calc(42px - (7 * ((1440px - 100vw) / (1440 - 375))));
        }
    }

    .swiper-wrapper {
        position: relative;
        margin: 0 0 0 calc(-29px - (-20 * ((1440px - 100vw) / (1440 - 375))));
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: auto;
        height: 100%;
        position: relative;
        transition-property: transform;
        display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: calc(calc(360px - (72 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 2));
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
        z-index: 11;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        border-radius: 50%;
        color: white;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Navigation font start */
    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            font-family: swiper-icons;
            font-size: 10px;
            font-weight: 900;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.24) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Common Styles */
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: calc(calc(360px - (72 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 1.4));
        left: 0;
        width: 100%;
    }

    /* Fraction */
    .swiper-pagination-fraction {
        color: black;
    }
}

.popularInThisMuseumSliderCardContainer {
    // Обёртка карточки слайдера
    width: calc(282px - (52 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 230px;
    max-width: 282px;
    height: auto;
    margin: 0 calc(29px - (20 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.popularInThisMuseumSliderCardImgWrapper {
    // Внутренняя обёртка карточки
    position: relative;
    display: flex;
    width: calc(282px - (52 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 230px;
    max-width: 282px;
    height: calc(282px - (52 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 230px;
    max-height: 282px;    
}

.popularInThisMuseumSliderCardImg {
    // Изображение карточки
    // aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.popularInThisMuseumSliderCardImg:hover:not {
    // Изображение карточки
    transition: 0.4s;
}

.popularInThisMuseumSliderSoldSellIconWrapper {
    // Обёртка иконки "Продано" и "Продажа"
    position: absolute;
    bottom: calc(9px - (2 * ((1440px - 100vw) / (1440 - 375))));
    right: calc(9px - (2 * ((1440px - 100vw) / (1440 - 375))));
    // width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    width: auto;
    min-width: 40px;
    // max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.popularInThisMuseumSliderSoldIcon {
    // Иконка "Продано"
    padding: 0 12px;
    width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    background-color: $red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px - (3 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    font-family: $default-font;
    text-transform: uppercase;
}

.popularInThisMuseumSliderSellIcon {
    // Иконка "Продажа"
    padding: 0 12px;
    width: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-width: 40px;
    max-width: 50px;
    height: calc(50px - (10 * ((1440px - 100vw) / (1440 - 375))));
    min-height: 40px;
    max-height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(14px - (3 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    font-family: $default-font;
    text-transform: uppercase;
}

@media screen and (min-width: 1441px) {
    .swiper-wrapper {
        margin: 0 0 0 -29px;
    }

    .popularInThisMuseumSliderTopInnerWrapper {
        // Верхняя часть слайдера
        padding: 0 0 51px 0;
    }

    .popularInThisMuseumSliderBottomInnerWrapper {
        // Нижняя часть слайдера
        height: 382px;

        .swiper-button-prev,
        .swiper-button-next {
            top: calc(360px - calc(var(--swiper-navigation-size) / 2));
        }

        /* Common Styles */
        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            top: calc(360px - calc(var(--swiper-navigation-size) / 1.4));
        }
    }

    .popularInThisMuseumSliderContainer {
        // Контейнер слайдера
        margin: 87px $responsiveLeftAndRightPadding 0 $responsiveLeftAndRightPadding;
    }
    
    .popularInThisMuseumSliderCardContainer {
        // Обёртка карточки слайдера
        margin: 0 29px;
    }

    .popularInThisMuseumSliderSoldSellIconWrapper {
        // Обёртка иконки "Продано" и "Продажа"
        position: absolute;
        bottom: 9px;
        right: 9px;
    }
    
    .popularInThisMuseumSliderSoldIcon {
        // Иконка "Продано"
        font-size: 14px;
    }
    
    .popularInThisMuseumSliderSellIcon {
        // Иконка "Продажа"
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .popularInThisMuseumSliderLikeAndShareWrapper {
        // Обёртка кнопок Like и Share
        width: 80px;
    }
    .popularInThisMuseumSliderLikeButton::after {
        display: none;
    }
    .popularInThisMuseumSliderShareButtonButton::before {
        display: none;
    }
}