@import '/src/styles/utilities/variables.scss';
@import '/src/styles/components/Sliders/MainPopularArtistsSlider/MainPopularArtistsSliderSwiper-vars.scss';

.mainPopularArtistsSliderContainer {
    // Контейнер слайдера
    display: flex;
    margin: calc(28px - (-5 * ((1440px - 100vw) / (1440 - 375)))) calc(70px - (48 * ((1440px - 100vw) / (1440 - 375)))) 0;
}

.mainPopularArtistsSliderWrapper {
    // Обёртка слайдера
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainPopularArtistsSliderTopInnerWrapper {
    // Верхняя часть слайдера
    display: flex;
    justify-content: space-between;
    padding: calc(51px - (17 * ((1440px - 100vw) / (1440 - 375)))) 0;
}

.mainPopularArtistsSliderTitleWrapper {
    // Обёртка заголовка
    display: flex;
    align-items: center;
}

.mainPopularArtistsSliderTitle {
    // Заголовок    
    font-family: $default-font;
    font-size: calc(28px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.mainPopularArtistsSliderLikeAndShareWrapper {
    // Обёртка кнопок Like и Share
    display: flex;
	justify-content: space-between;
    margin: 0 0 0 auto;
    width: 177px;
}

.mainPopularArtistsSliderLikeInnerWrapper {
    // Обёртка кнопки Like
}

.mainPopularArtistsSliderLikeButton {
    // Кнопка Like
	position: relative;
	display: flex;    
}

.mainPopularArtistsSliderLikeButton::after {
    content: "Like";
    position: absolute;
    top: 6px;
    left: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.mainPopularArtistsSliderLikeButtonImg {
    // Изображение кнопки Like
}

.mainPopularArtistsSliderShareInnerWrapper {
    // Обёртка кнопки Share
}

.mainPopularArtistsSliderShareButtonButton {
    // Кнопка Share
	position: relative;
	display: flex;
}

.mainPopularArtistsSliderShareButtonButton::before {
    content: "Share";
    position: absolute;
    top: 6px;
    right: 38px;
    font-size: 18px;
    user-select: none;
    color: #000000;
}

.mainPopularArtistsSliderShareButtonImg {
    // Изображение кнопки Share
}

.mainPopularArtistsSliderBottomInnerWrapper {
    // Нижняя часть слайдера
    display: flex;
    width:100%;
    height: calc(514px - (75 * ((1440px - 100vw) / (1440 - 375))));;
}

.mainPopularArtistsSliderCardWrapper {
    // Обёртка карточки слайдера
    width: calc(295px - (21 * ((1440px - 100vw) / (1440 - 375))));
    height: calc(430px - (50 * ((1440px - 100vw) / (1440 - 375))));
    margin: 0 calc(20px - (2 * ((1440px - 100vw) / (1440 - 375))));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mainPopularArtistsSliderCardInnerWrapper {
    // Внутренняя обёртка карточки
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.mainPopularArtistsSliderCardImg {
    // Изображение карточки
	// aspect-ratio: 630 / 330; // например, соотношение сторон 21:11
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.mainPopularArtistsSliderCardAbsoluteWrapper {
    // Абсолютная обёртка карточки
    position: absolute;
    padding: calc(40px - (17 * ((1440px - 100vw) / (1440 - 375))));
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.mainPopularArtistsSliderCardButtonWrapper {
    // Обёртка кнопки карточки
    display: flex;
    margin: 0 0 auto 0;
}

.mainPopularArtistsSliderCardButton {
    // Кнопка карточки
}

.mainPopularArtistsSliderCardTitleWrapper {
    // Обёртка заголовка карточки
    display: flex;
    margin: auto 0 0 0;
}

.mainPopularArtistsSliderCardTitle {
    // Заголовок карточки
}

.mainPopularArtistsSliderCardDescriptionWrapper {
    // Обёртка описания карточки
}

.mainPopularArtistsSliderCardDescription {
    // Описание карточки
}
