@import '/src/styles/utilities/variables.scss';

.BannerSliderCardContainer {
    // Обёртка карточки слайдера
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.BannerSliderCardWrapper {
    // Обёртка карточки слайдера
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.BannerSliderCardInnerWrapper {
    // Внутренняя обёртка карточки слайдера
    position: absolute;
    padding: $responsiveBigPadding $responsiveLeftAndRightPadding;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.BannerSliderCardSecondInnerWrapper {
    margin: auto 0;
    width: 100%;
}

.BannerSliderCardLogoWrapper {
    // Обёртка логотипа
    top: 0;
    left: 0;
    display: flex;
    height: 40%;
    z-index: 1;
}

.BannerSliderCardLogo {
    // Логотип
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
}

.BannerSliderCardSeparator {
    // Разделитель
    margin: $responsiveMediumPadding 0 0 0;
    width: 70%;
    height: 1px;
    background-color: black;
}

.BannerSliderCardStaticTitleWrapper {
    // Обёртка статического заголовка
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.BannerSliderCardStaticTitle {
    // Статический заголовок
    width: 100%;
    height: 100%;
    // font-size: calc(42px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 500;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-family: $default-font;text-shadow: -1px -1px 1px #999, 1px 1px 1px #fff;
}

.BannerSliderCardTitleWrapper {
    // Обёртка названия музея
    margin: $responsiveMediumPadding 0 0 0;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.BannerSliderCardTitle {
    //Название музея
    width: 100%;
    height: 100%;
    // font-size: calc(24px - (10 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-family: $default-font;
    text-shadow: -1px -1px 1px #999, 1px 1px 1px #fff;
}

.BannerSliderCardDescriptionWrapper {
    // Обёртка описания музея
    margin: $responsiveSmallPadding 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    max-height: calc(calc(20px - (6 * ((1440px - 100vw) / (1440 - 375)))) * 3);
}

.BannerSliderCardDescription {
    // Описание музея
    width: 100%;
    height: 100%;
    font-size: calc(20px - (6 * ((1440px - 100vw) / (1440 - 375))));
    font-weight: 400;
    font-family: $default-font;
    text-shadow: -1px -1px 1px #999, 1px 1px 1px #fff;
}

.BannerSliderCardReadMoreButtonWrapper {
    // Обёртка кнопки "Читать далее"
    margin: $responsiveBigPadding auto 0 0;
    width: auto;
    height: auto;
    z-index: 1;
}

.BannerSliderCardReadMoreButton {
    // Кнопка "Читать далее"
    padding: 0 $staticButtonLeftAndRightPadding;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: calc(51 / 1440 * 100vw);
    min-height: 40px;
    max-height: 51px;
    border-radius: 51px;
    color: #fff;
    border: none;
    background-color: #3a8374;
    cursor: pointer;
}

.BannerSliderCardImgWrapper {
    // Обёртка задней картинки музея
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.BannerSliderCardImg {
    // Карточка слайдера
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.BannerSliderContainer {
    // Основной стиль для блока слайдера
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @at-root {
        :root {
            --swiper-navigation-size: calc(42px - (7 * ((1440px - 100vw) / (1440 - 375))));
        }
    }

    .swiper-wrapper {
        position: relative;
        margin: 0;
        width: 100vw;
        height: calc(600px - (140 * ((1440px - 100vw) / (1440 - 375))));
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: auto;
        height: calc(600px - (140 * ((1440px - 100vw) / (1440 - 375))));
        position: relative;
        transition-property: transform;
        display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: calc(calc(590px - (140 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 2));
        width: var(--swiper-navigation-size);
        height: var(--swiper-navigation-size);
        z-index: 11;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        color: rgb(0, 0, 0);
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Navigation font start */
    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            font-family: swiper-icons;
            font-size: 10px;
            font-weight: 900;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: calc(50% - calc(var(--swiper-navigation-size) * 1.24) - calc(34.5px - (5.5 * ((1440px - 100vw) / (1440 - 375)))));
        left: auto;
    }

    /* Common Styles */
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: calc(calc(590px - (140 * ((1440px - 100vw) / (1440 - 375)))) - calc(var(--swiper-navigation-size) / 1.4));
        left: 0;
        width: 100%;
    }

    /* Fraction */
    .swiper-pagination-fraction {
        color: rgb(255, 255, 255);
    }
}

@media screen and (min-width: 1441px) {
    .BannerSliderCardInnerWrapper {
        // Внутренняя обёртка карточки слайдера
        padding: $staticPcBigPadding $responsiveLeftAndRightPadding;
    }

    .BannerSliderCardSeparator {
        // Разделитель
        margin: $staticPcMediumPadding 0 0 0;
    }

    .BannerSliderCardStaticTitleWrapper {
        // Обёртка статического заголовка
        margin: $staticPcBigPadding 0 0 0;
    }

    .BannerSliderCardTitleWrapper {
        // Обёртка названия музея
        margin: $staticPcMediumPadding 0 0 0;
    }

    // .BannerSliderCardStaticTitle {
    //     //Название музея
    //     font-size: 42px;
    // }

    // .BannerSliderCardTitle {
    //     //Название музея
    //     font-size: 24px;
    // }

    .BannerSliderCardDescriptionWrapper {
        // Обёртка описания музея
        margin: $staticPcSmallPadding 0 0 0;
        max-height: calc(20px * 3);
    }

    .BannerSliderCardDescription {
        // Описание музея
        font-size: 20px;
    }

    .BannerSliderCardReadMoreButtonWrapper {
        // Обёртка кнопки "Читать далее"
        margin: $staticPcBigPadding auto 0 0;
    }

    .BannerSliderContainer {
        // Основной стиль для блока слайдера

        @at-root {
            :root {
                --swiper-navigation-size: 42px;
            }
        }

        .swiper-wrapper {
            height: 600px;
        }

        .swiper-slide {
            height: 600px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: calc(590px - calc(var(--swiper-navigation-size) / 2));
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - 34.5px);
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - 34.5px);
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: calc(50% - calc(var(--swiper-navigation-size) * 1.24) - 34.5px);
        }

        /* Common Styles */
        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            top: calc(590px - calc(var(--swiper-navigation-size) / 1.4));
        }
    }
}

@media screen and (max-width: 569px) {
    .BannerSliderCardInnerWrapper {
        // Внутренняя обёртка карточки слайдера
        padding: $staticMobileBigPadding $responsiveLeftAndRightPadding;
        width: 100%;
    }

    .BannerSliderCardSeparator {
        // Разделитель
        margin: $staticMobileMediumPadding 0 0 0;
    }

    .BannerSliderCardStaticTitleWrapper {
        // Обёртка статического заголовка
        margin: $staticMobileBigPadding 0 0 0;
    }

    .BannerSliderCardTitleWrapper {
        // Обёртка названия музея
        margin: $staticMobileMediumPadding 0 0 0;
    }

    // .BannerSliderCardTitle {
    //     //Название музея
    //     font-size: 18px;
    // }

    // .BannerSliderCardTitle {
    //     //Название музея
    //     font-size: 18px;
    // }

    .BannerSliderCardDescriptionWrapper {
        // Обёртка описания музея
        margin: $staticMobileSmallPadding 0 0 0;
        max-height: calc(14px * 3);
    }

    .BannerSliderCardDescription {
        // Описание музея
        font-size: 14px;
    }

    .BannerSliderCardReadMoreButtonWrapper {
        // Обёртка кнопки "Читать далее"
        margin: $staticMobileBigPadding auto 0 0;
    }

    .BannerSliderContainer {
        // Основной стиль для блока слайдера

        @at-root {
            :root {
                --swiper-navigation-size: 35px;
            }
        }

        .swiper-wrapper {
            height: 460px;
        }

        .swiper-slide {
            height: 460px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: calc(450px - calc(var(--swiper-navigation-size) / 2));
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - 29px);
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: calc(50% - calc(var(--swiper-navigation-size) * 1.14) - 29px);
        }

        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: calc(50% - calc(var(--swiper-navigation-size) * 1.24) - 29px);
        }

        /* Common Styles */
        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            top: calc(450px - calc(var(--swiper-navigation-size) / 1.4));
        }
    }
}